<a href="https://www.kaggle.com/code/roberttarus/toronto-bikeshare-dataset-cleaning-and-using-joins?scriptVersionId=166324784" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

The Toronto Parking Authority manages the Bike Share Toronto program, a form of local mass transit and an enjoyable way to travel the city by bicycle. Bike Share stations are located in Toronto, East York, Scarborough, North York, York and Etobicoke.

In our data analysis, we're diving into the world of bikeshare data, weather information, and station details. When we put these pieces together, we get a richer picture of how people use bikes in different conditions and locations.

**Cleaning the Bikeshare Data:**

Cleaning this data means we're making sure it's accurate and reliable. This way, our insights can be trusted, and decisions can be based on solid information.

**Adding Stations:**

Stations are like the hubs of the bikeshare network. Combining bikeshare data with station info helps us understand which stations are popular, how many bikes they can hold, and how efficiently the system is running. It's like putting a map to our data, showing where the action is happening.

**Connecting with Weather Data:**

Ever wondered how weather affects our daily activities, including bike rides? That's what we're exploring by merging bikeshare data with weather conditions. Does rain or sunshine impact how many people use bikes? By joining these datasets, we're getting a clear picture of how weather plays a role in bike-sharing trends.

**Goal of the analysis**

Ultimately, we're doing all of this to uncover insights that matter. Whether it's improving the user experience, managing stations better, or adapting to weather patterns, our goal is to make the bikeshare system more efficient and enjoyable for everyone involved.

In [1]:
import pandas as pd
import numpy as np
import os
import warnings
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import requests
import json
import glob
warnings.filterwarnings("ignore")
warnings.resetwarnings()
%matplotlib inline

In [2]:
directory_path = '/kaggle/input/toronto-bikeshare-2023'

# Get a list of all CSV files in the directory and sort them
csv_files = sorted([f for f in os.listdir(directory_path) if f.endswith('.csv')])

dfs = []

# Looping through each CSV file, read and append to the list of DataFrames
for csv in csv_files:
    try:
        df = pd.read_csv(os.path.join(directory_path, csv), encoding='utf-8')
    except UnicodeDecodeError:
        # If utf-8 fails, try 'latin-1' encoding
        df = pd.read_csv(os.path.join(directory_path, csv), encoding='latin-1')
    dfs.append(df)

# Concatenating the list of DataFrames into a single DataFrame
bikes_df = pd.concat(dfs, ignore_index=True)

In [3]:
#Checking the data types in the dataframe
bikes_df.dtypes

Trip Id                 int64
Trip  Duration          int64
Start Station Id        int64
Start Time             object
Start Station Name     object
End Station Id        float64
End Time               object
End Station Name       object
Bike Id                 int64
User Type              object
dtype: object

In [4]:
# Renaming columns
bikes_df = bikes_df.rename(columns={
    'Trip Id': 'trip_id',
    'Trip  Duration': 'trip_duration',
    'Start Station Id': 'start_station_id',
    'Start Time': 'start_time',
    'Start Station Name': 'start_station_name',
    'End Station Id': 'end_station_id',
    'End Time': 'end_time',
    'End Station Name': 'end_station_name',
    'Bike Id': 'bike_id',
    'User Type': 'user_type'
})

In [5]:
bikes_df.dtypes

trip_id                 int64
trip_duration           int64
start_station_id        int64
start_time             object
start_station_name     object
end_station_id        float64
end_time               object
end_station_name       object
bike_id                 int64
user_type              object
dtype: object

In [6]:
#Converting the end_station_column datatype to string.
bikes_df['end_station_id'] = bikes_df['end_station_id'].astype(str)

In [7]:
unique_values = bikes_df['end_station_id'].unique()

# Print the unique values
print("Unique values in 'end_station_id':", unique_values)

Unique values in 'end_station_id': ['7703.0' '7533.0' '7076.0' '7685.0' '7061.0' '7033.0' '7521.0' '7760.0'
 '7075.0' '7014.0' '7161.0' '7164.0' '7098.0' '7100.0' '7154.0' '7167.0'
 '7475.0' '7430.0' '7026.0' '7526.0' '7368.0' '7493.0' '7502.0' '7329.0'
 '7261.0' '7264.0' '7682.0' '7367.0' '7006.0' '7469.0' '7418.0' '7043.0'
 '7030.0' '7202.0' '7398.0' '7057.0' '7240.0' '7044.0' '7337.0' '7120.0'
 '7259.0' '7079.0' '7529.0' '7149.0' '7078.0' '7238.0' '7356.0' '7055.0'
 '7453.0' '7270.0' '7457.0' '7719.0' '7225.0' '7168.0' '7542.0' '7311.0'
 '7650.0' '7191.0' '7048.0' '7361.0' '7108.0' '7198.0' '7523.0' '7114.0'
 '7207.0' '7346.0' '7001.0' '7066.0' '7320.0' '7226.0' '7566.0' '7085.0'
 '7197.0' '7170.0' '7272.0' '7382.0' '7028.0' '7077.0' '7298.0' '7109.0'
 '7022.0' '7136.0' '7309.0' '7178.0' '7162.0' '7414.0' '7169.0' '7021.0'
 '7209.0' '7483.0' '7281.0' '7041.0' '7020.0' '7646.0' '7472.0' '7236.0'
 '7399.0' '7534.0' '7121.0' '7257.0' '7205.0' '7222.0' '7688.0' '7143.0'
 '7059.0' '7054.0' '7103.0' '7467.0' '7417.0' '7684.0' '7047.0' '7199.0'
 '7374.0' '7102.0' '7422.0' '7410.0' '7163.0' '7291.0' '7124.0' '7141.0'
 '7208.0' '7340.0' '7677.0' '7721.0' '7074.0' '7458.0' '7271.0' '7713.0'
 '7097.0' '7409.0' '7253.0' '7248.0' '7720.0' '7579.0' '7716.0' '7575.0'
 '7031.0' '7643.0' '7000.0' '7451.0' '7288.0' '7474.0' '7476.0' '7269.0'
 '7003.0' '7570.0' '7122.0' '7571.0' '7160.0' '7174.0' '7245.0' '7704.0'
 '7065.0' '7032.0' '7088.0' '7536.0' '7140.0' '7094.0' '7462.0' '7746.0'
 '7158.0' '7376.0' '7633.0' '7263.0' '7206.0' '7391.0' '7038.0' '7299.0'
 '7693.0' '7115.0' '7754.0' '7411.0' '7348.0' '7577.0' '7668.0' '7023.0'
 '7389.0' '7217.0' '7599.0' '7706.0' '7505.0' '7131.0' '7010.0' '7576.0'
 '7351.0' '7279.0' '7323.0' '7246.0' '7138.0' '7273.0' '7506.0' '7546.0'
 '7508.0' '7362.0' '7292.0' '7709.0' '7111.0' '7233.0' '7052.0' '7093.0'
 '7689.0' '7640.0' '7193.0' '7099.0' '7286.0' '7107.0' '7545.0' '7072.0'
 '7092.0' '7528.0' '7352.0' '7196.0' '7496.0' '7007.0' '7073.0' '7717.0'
 '7459.0' '7607.0' '7711.0' '7681.0' '7064.0' '7450.0' '7018.0' '7380.0'
 '7434.0' '7250.0' '7491.0' '7155.0' '7148.0' '7252.0' '7016.0' '7386.0'
 '7441.0' '7184.0' '7407.0' '7660.0' '7468.0' '7241.0' '7211.0' '7035.0'
 '7204.0' '7256.0' '7753.0' '7046.0' '7203.0' '7431.0' '7432.0' '7728.0'
 '7415.0' '7171.0' '7324.0' '7104.0' '7012.0' '7537.0' '7627.0' '7195.0'
 '7053.0' '7056.0' '7416.0' '7153.0' '7642.0' '7220.0' '7412.0' '7296.0'
 '7280.0' '7069.0' '7360.0' '7549.0' '7705.0' '7752.0' '7142.0' '7443.0'
 '7117.0' '7473.0' '7137.0' '7707.0' '7267.0' '7101.0' '7662.0' '7492.0'
 '7127.0' '7285.0' '7151.0' '7192.0' '7519.0' '7176.0' '7063.0' '7326.0'
 '7173.0' '7724.0' '7514.0' '7105.0' '7265.0' '7009.0' '7530.0' '7375.0'
 '7322.0' '7239.0' '7680.0' '7042.0' '7466.0' '7126.0' '7216.0' '7027.0'
 '7524.0' '7147.0' '7181.0' '7040.0' '7355.0' '7384.0' '7700.0' '7150.0'
 '7465.0' '7156.0' '7620.0' '7315.0' '7692.0' '7333.0' '7531.0' '7425.0'
 '7232.0' '7648.0' '7378.0' '7757.0' '7629.0' '7540.0' '7328.0' '7157.0'
 '7146.0' '7002.0' '7106.0' '7037.0' '7381.0' '7025.0' '7548.0' '7738.0'
 '7644.0' '7551.0' '7452.0' 'nan' '7463.0' '7152.0' '7701.0' '7479.0'
 '7251.0' '7112.0' '7024.0' '7710.0' '7289.0' '7274.0' '7598.0' '7749.0'
 '7437.0' '7385.0' '7302.0' '7005.0' '7266.0' '7029.0' '7228.0' '7562.0'
 '7366.0' '7400.0' '7702.0' '7388.0' '7234.0' '7373.0' '7654.0' '7132.0'
 '7657.0' '7183.0' '7568.0' '7327.0' '7347.0' '7175.0' '7090.0' '7489.0'
 '7247.0' '7276.0' '7039.0' '7278.0' '7543.0' '7686.0' '7655.0' '7632.0'
 '7119.0' '7377.0' '7589.0' '7611.0' '7683.0' '7406.0' '7189.0' '7172.0'
 '7089.0' '7283.0' '7135.0' '7647.0' '7004.0' '7242.0' '7062.0' '7237.0'
 '7045.0' '7687.0' '7034.0' '7729.0' '7110.0' '7284.0' '7303.0' '7427.0'
 '7123.0' '7634.0' '7584.0' '7229.0' '7695.0' '7515.0' '7559.0' '7312.0'
 '7129.0' '7260.0' '7334.0' '7139.0' '7676.0' '7494.0' '7520.0' '7268.0'
 '7556.0' '7445.0' '7730.0' '7601.0' '7086.0' '7563.0' '7557.0' '7694.0'
 '7354.0' '7623.0' '7036.0' '7449.0' '7433.0' '7180.0' '7484.0' '7383.0'
 '7419.0' '7446.0' '7344.0' '7262.0' '7547.0' '7318.0' '7319.0' '7461.0'
 '7321.0' '7357.0' '7379.0' '7224.0' '7144.0' '7363.0' '7718.0' '7313.0'
 '7223.0' '7336.0' '7369.0' '7235.0' '7404.0' '7317.0' '7084.0' '7050.0'
 '7585.0' '7008.0' '7342.0' '7618.0' '7275.0' '7518.0' '7744.0' '7667.0'
 '7301.0' '7353.0' '7392.0' '7504.0' '7387.0' '7501.0' '7297.0' '7190.0'
 '7087.0' '7364.0' '7227.0' '7408.0' '7594.0' '7118.0' '7517.0' '7338.0'
 '7487.0' '7130.0' '7230.0' '7732.0' '7428.0' '7210.0' '7610.0' '7478.0'
 '7516.0' '7188.0' '7708.0' '7015.0' '7332.0' '7538.0' '7569.0' '7522.0'
 '7712.0' '7221.0' '7593.0' '7067.0' '7658.0' '7553.0' '7095.0' '7503.0'
 '7314.0' '7670.0' '7243.0' '7349.0' '7596.0' '7287.0' '7621.0' '7699.0'
 '7420.0' '7656.0' '7565.0' '7435.0' '7258.0' '7715.0' '7058.0' '7277.0'
 '7602.0' '7580.0' '7442.0' '7083.0' '7666.0' '7477.0' '7440.0' '7591.0'
 '7527.0' '7581.0' '7343.0' '7335.0' '7541.0' '7249.0' '7675.0' '7133.0'
 '7740.0' '7615.0' '7447.0' '7194.0' '7339.0' '7403.0' '7691.0' '7637.0'
 '7600.0' '7561.0' '7488.0' '7071.0' '7091.0' '7480.0' '7679.0' '7659.0'
 '7454.0' '7603.0' '7485.0' '7070.0' '7316.0' '7671.0' '7365.0' '7595.0'
 '7068.0' '7096.0' '7345.0' '7424.0' '7497.0' '7244.0' '7429.0' '7555.0'
 '7731.0' '7725.0' '7331.0' '7486.0' '7639.0' '7582.0' '7664.0' '7350.0'
 '7606.0' '7586.0' '7564.0' '7460.0' '7605.0' '7750.0' '7748.0' '7635.0'
 '7690.0' '7128.0' '7617.0' '7448.0' '7625.0' '7616.0' '7597.0' '7626.0'
 '7371.0' '7341.0' '7231.0' '7612.0' '7471.0' '7558.0' '7572.0' '7630.0'
 '7413.0' '7182.0' '7590.0' '7631.0' '7745.0' '7438.0' '7539.0' '7751.0'
 '7747.0' '7619.0' '7665.0' '7741.0' '7583.0' '7455.0' '7622.0' '7641.0'
 '7609.0' '7736.0' '7696.0' '7587.0' '7608.0' '7663.0' '7554.0' '7678.0'
 '7698.0' '7755.0' '7742.0' '7395.0' '7636.0' '7552.0' '7567.0' '7743.0'
 '7444.0' '7756.0' '7645.0' '7359.0' '7734.0' '7733.0' '7604.0' '7758.0'
 '7588.0' '7739.0' '7761.0' '7737.0' '7624.0' '7762.0' '7614.0' '7759.0'
 '7613.0' '7766.0' '7765.0' '7735.0' '7768.0' '7769.0' '7767.0' '7770.0'
 '7771.0' '7772.0' '7638.0' '7780.0' '7773.0' '7777.0' '7778.0' '7774.0'
 '7775.0' '7779.0' '7776.0' '7781.0' '7783.0' '7787.0' '7784.0' '7782.0'
 '7785.0' '7788.0' '7790.0' '7791.0' '7723.0' '7792.0' '7795.0' '7794.0'
 '7796.0' '7798.0' '7799.0' '7800.0' '7801.0' '7802.0' '7763.0' '7804.0'
 '7803.0' '7806.0' '7805.0' '7808.0' '7809.0' '7807.0' '7810.0' '7811.0'
 '7812.0' '7815.0' '7814.0' '7813.0' '7816.0' '7817.0' '7049.0' '7818.0'
 '7819.0' '7820.0' '7789.0' '7821.0' '7822.0' '7823.0' '7824.0' '7825.0'
 '7826.0' '7019.0' '7113.0' '7358.0' '7827.0' '7829.0' '7830.0' '7828.0'
 '7831.0' '7832.0' '7833.0' '7834.0' '7835.0' '7836.0' '7848.0' '7837.0'
 '7838.0' '7840.0' '7841.0' '7839.0' '7846.0' '7844.0' '7843.0' '7845.0'
 '7849.0' '7842.0' '7850.0' '7855.0' '7852.0' '7854.0' '7858.0' '7857.0'
 '7860.0' '7859.0' '7851.0' '7864.0' '7853.0' '7862.0' '7856.0' '7865.0'
 '7881.0' '7870.0' '7868.0' '7869.0' '7872.0' '7874.0' '7866.0' '7863.0'
 '7875.0' '7861.0' '7871.0' '7883.0' '7884.0' '7879.0' '7873.0' '7899.0'
 '7898.0' '7876.0' '7887.0' '7900.0' '7867.0' '7880.0' '7878.0' '7886.0'
 '7017.0' '7893.0' '7890.0' '7889.0' '7888.0' '7013.0' '7116.0' '7726.0'
 '7877.0' '7882.0' '7885.0' '7891.0' '7892.0' '7895.0' '7896.0' '7897.0'
 '7901.0' '7902.0' '7903.0' '7904.0' '7905.0' '7906.0' '7907.0' '7909.0'
 '7910.0' '7911.0' '7912.0' '7913.0' '7914.0' '7916.0' '7917.0' '7918.0']

In [8]:
unique_values = bikes_df['end_station_name'].unique()
print("Unique values in 'end_station_name':", unique_values)

Unique values in 'end_station_name': [nan 'Housey St / Dan Leckie Way' 'York St / Queens Quay W'
 'Dalton Rd / Bloor St W' 'Union Station' 'Emerson Ave / Bloor St W'
 'Queens Quay W / Dan Leckie Way'
 'Sherbourne St / Carlton St (Allan Gardens)' 'Beverley St / College St'
 'Gould St / Yonge St (Ryerson University)'
 'Riverdale Park South (Broadview Ave)' 'Dundas St E / Regent Park Blvd'
 'Bathurst Subway Station' 'Queen St E / George St (Moss Park)'
 'Jarvis St / Richmond St E' 'Marilyn Bell Park Tennis Court'
 'Bay St / St. Joseph St' 'Bartlett Parkette'
 'Lisgar St / Dundas St SMART' 'Sackville St / Eastern Ave - SMART'
 'University Ave / College St (East)' 'Crawford St / Queen St W'
 'Queens Quay E / Lower Sherbourne St' 'Bloor St E / Huntley St - SMART'
 'Alma Ave / Gladstone Ave SMART' 'Bay St / College St (East Side)'
 'Wellington St W / York St' 'College Park - Yonge St Entrance'
 'Queens Quay W / Lower Simcoe St' 'Bay St / Wellesley St W'
 'Queen St W / York St (City Hall)' 'York St / Lakeshore St W - South'
 'Simcoe St / Wellington St South' 'Bloor St W / Shaw Ave - SMART'
 'Church St / Alexander St' 'Gerrard Square Mall (1010 Gerrard St E)'
 'Gerrard St E / River St' 'Lower Spadina Ave / Lake Shore Blvd'
 'McGill St / Church St' 'Symington Ave / Davenport Rd'
 'Yarmouth Rd / Christie St' 'College St / Major St'
 'Sorauren/Geoffrey (Sorauren Park) - SMART' 'King St E / Ontario St.'
 'Jarvis St / Carlton St' 'Jarvis St / Maitland Pl'
 'Church St / Dundas St E - SMART' "Queen's Park Cres W / Hoskin Ave"
 'Lake Shore Blvd W / Windermere Ave' 'Queens Quay / Yonge St'
 'Queen St W / John St' 'Sherbourne St / Isabella St'
 'St Clair W Subway - Heath Entrance' 'Central Tech  (Harbord St)'
 'Front St W / Yonge St (Hockey Hall of Fame)' 'Hocken Ave./Vaughan Rd.'
 'Front St E / Cherry St' 'Queen St W / Cowan Ave'
 'Lynn Williams St / East Liberty St - SMART' 'Carlton St / Parliament St'
 'Dundas St W / Crawford St' 'Logan Av / Gerrard St E'
 'Wellesley Station Green P' 'Willcocks St / St. George St'
 'Front St W / University Ave (1)'
 'Lake Shore Blvd W / The Boulevard Club'
 'Weston Rd / St Clair Ave W - SMART' 'Danforth Ave / Westlake Ave'
 'Queen St W / Dovercourt Rd' 'Spadina Ave / Willcocks St'
 'Yonge St / Dundonald St - SMART' 'Simcoe St / Adelaide St W'
 'Gould St / Mutual St' 'College Park South' 'Bathurst St / Adelaide St W'
 'Seaton St / Dundas St E - SMART' 'Simcoe St / Queen St W'
 'Queen St W / Close Ave' 'Queen St. E / Rhodes Ave.'
 'Dundas St W / Edna Ave' 'Hayter St / Laplante Ave'
 'Keele St / Annette St' 'Front St W / Bay St (North Side)'
 'Bay St / Albert St' 'Ossington Ave / Harrison St'
 'Southwood Dr / Kingston Rd - SMART' 'Charles St W / Balmuto St - SMART'
 'Edward St / Yonge St' 'Phoebe St / Spadina Ave'
 'University Ave / Richmond St W' 'Dundas St E / Victoria St'
 'Thompson St / Broadview Ave - SMART' 'Lower Jarvis / Queens Quay E'
 'Walnut Ave / Queen St W' 'Jarvis St / Dundas St E'
 'Dundas St W / St. Patrick St' 'Rusholme Park Cres / College St'
 'Sunnyside - Gus Ryder Pool' 'Kendal Ave / Bernard Ave'
 'Front St W / Blue Jays Way' 'Navy Wharf Ct. / Bremner Blvd.'
 'Jimmie Simpson Park (Queen St E)' 'Lower Simcoe St / Bremner Blvd'
 'King St W / Jordan St' 'University Ave / Gerrard St W (East Side)'
 'College St / Markham St' 'Frederick St / The Esplanade'
 'Nelson St / Duncan St' 'Tyndall Ave / King St W - SMART'
 'Howard St / Rose Ave' 'Yonge St / Wood St' '190 Queens Quay E'
 'Dundas St E / Broadview Ave' 'Bridgeman Ave / Kendal Ave'
 '80 Clinton St (North of College)' 'Blake St / Boultbee Ave'
 '1303 Yonge St - SMART' 'King St E / Church St' 'Church St / Lombard St'
 'Yonge St / Alexander St - SMART' 'Riverdale Park North (Broadview Ave)'
 'Isabella St / Church St' 'John St  / Mercer St - SMART'
 'Baldwin Ave / Spadina Ave - SMART' 'Glebe Rd W / Yonge St'
 'Bayview Ave / Lawren Harris Square' 'Jarvis St / Isabella St'
 'Oriole Pkwy / Kilbarry Rd' 'Fort York  Blvd / Capreol Ct'
 'Western Battery Rd / Pirandello St' 'Humber Bay Shores Park West'
 'Clarence Square' 'Symington Ave / Dupont St'
 'Toronto Eaton Centre (Yonge St)' 'Madison Ave / Bloor St W'
 'Carlaw Ave / Dundas St E' 'Niagara St / Tecumseth St'
 'Highfield Rd / Gerrard St E' 'King St W / Tecumseth St'
 'Bloor St W / Dundas St W' 'Tecumseth St / Queen St W - SMART'
 'Dundas St E / Parliament St' 'Augusta Ave / Dundas St W'
 'Danforth Ave / Coxwell Ave' 'Palmerston Ave / Dundas St W'
 'Macpherson Ave / Spadina Rd' 'Chester Station'
 'Richmond St E / Yonge St' 'King St W / Stafford St'
 'Frobisher Ave / Lascelles Blvd' 'Noble St / Queen St W'
 'Walton St / Elizabeth St - SMART' 'Claremont St / Dundas St W'
 'Yonge St / Dundas Sq' 'Dundas St W / Yonge St' 'Mill St / Parliament St'
 'Howard St / Sherbourne St' 'Little Norway Park' 'Pape Ave / Gamble Ave'
 'Oak St / Sumach St' 'Simcoe St / Dundas St W - SMART'
 'College St / Borden St' 'College Park- Gerrard Entrance'
 'Soho St / Queen St W' 'Richmond St W / York St'
 'Ontario St / Adelaide St E -SMART' 'Taddle Creek Park'
 'King St W / Spadina Ave' 'Front St E / Bayview Avenue'
 'Pretoria Av / Broadview Av' 'Rosehill Ave / Avoca Ave - SMART'
 '457 King St. W. at Spadina' 'Yonge St / Bloor St'
 'Davenport Rd / Christie St' 'Bay St / Charles St - SMART'
 'Berkeley St / Adelaide St E - SMART' 'Ross St / Cecil St - SMART'
 'Berkeley St / Dundas St E - SMART' 'St Clair Ave W / Bathurst St.'
 'Granby St / Church St - SMART' 'King St W / Douro St'
 'King / Cowan Ave - SMART' 'Wellington St W / Bay St'
 'Danforth Ave / Gough Ave' 'Spadina Rd / St.Clair Ave West'
 'Queen St W / Gladstone Ave' 'Cherry St / Mill St'
 'Gerrard St E / Broadview - SMART' 'Cherry St / Distillery Ln'
 'Baldwin St / Henry St' 'Fleet St / Bathurst St' 'Pape Subway Green P'
 'Spadina Rd / Austin Terrace' 'Cosburn Ave / Donlands Ave'
 'Roxton Rd / Harbord St' 'Sunnyside Ave / The Queensway - SMART'
 'College St / Huron St' 'Spadina Ave / Fort York Blvd'
 'St Clair Ave W / Winona Ave' 'Fairmount Park' '25 Booth Ave'
 '51 Parliament St' 'Carlaw Ave / Danforth Ave' 'Bremner Blvd / Rees St'
 'Erskine Ave / Yonge St SMART' 'Via Italia / Mackay Ave'
 'St. George St / Russell St - SMART' "D'Arcy St / Spadina Ave - SMART"
 'Bathurst St / Lennox St' 'King St W / Joe Shuster Way'
 'Robert St / Bloor St W - SMART'
 'Bay St / Queens Quay W (Ferry Terminal)' "D'Arcy St. /McCaul St. SMART"
 'Pacific Ave / Glenlake Ave' 'Ossington Ave / College St'
 'University Ave / Queen St W' '285 Victoria St' 'Front St / Simcoe St'
 '519 Church St - SMART' 'Fort York Blvd / Garrison Rd'
 'Queen St W / Ossington Ave' 'College St / Crawford St'
 'Vanauley St / Queen St W - SMART' 'Niagara St / Richmond St W'
 'Bathurst St/Queens Quay(Billy Bishop Airport)'
 'Gerrard St E / Leslie St' 'Frederick St / King St E'
 'Keele St / Vine Ave' 'Ontario Place Blvd / Lake Shore Blvd W (East)'
 'King St W / Charlotte St (West Side)' 'King St E / River St'
 'Elizabeth St / Edward St (Bus Terminal)'
 'Euclid Ave / Herrick St - SMART' 'Shaw St / Essex St - SMART'
 'Ulster St / Bathurst St' 'Metro Hall Plaza' 'Parliament St / Gerrard St'
 'Spadina Ave / Blue Jays Way' 'Bloor St W / Christie St'
 'Yonge St / St Clair Ave' 'Lake Shore Blvd W / Ellis Ave'
 'King St W / Crawford St' 'Westmoreland Ave / Fernbank Ave'
 'Charles St E / Jarvis St - SMART' 'Queen St W / Spadina Ave'
 'Concord Av / Dewson St' '439 Sherbourne St'
 'Bridgeman Ave / Bathurst St' 'Dundas St E / George St'
 '640 Bloor Street E' 'Adelaide St W / Strachan Ave'
 'Davenport Rd / Bathurst St' 'Dundas St E / Pembroke St - SMART'
 'Lower Sherbourne St / The Esplanade' 'Beaty Ave / Queen St W'
 '324 Cherry St' 'Bay St / Scollard St' 'Spadina Ave / Harbord St - SMART'
 'Essex St / Christie St - SMART' 'Harbord St / Clinton St'
 '406 Oakwood Ave' 'Bathurst St / Fort York Blvd'
 "Queen's Park / Bloor St W" 'Davenport Rd / Lansdowne Ave'
 'Cariboo St / Rail Path' 'Humber Bay Shores Park / Marine Parade Dr'
 'Queen St E / Sackville St' 'Wallace Ave / Symington Ave - SMART'
 'King St E / Jarvis St' 'Sherbourne St N / Elm Ave'
 'Front St E / Scott St' 'King St W / Brant St'
 'Bloor St W / Manning Ave - SMART' 'Princes Gate / Nunavut Dr'
 'Sherbourne St / Wellesley St E' 'Glendonwynne Ave / Bloor St W'
 'Yonge St / Yorkville Ave' 'Wellington St W / Stafford St'
 'Beverley  St / Dundas St W' 'Lisgar Park' 'King St W / Fraser Ave'
 'Lansdowne Ave / Whytock Ave' 'Euclid Ave / Bloor St W'
 'Beltline Trail / Chaplin Cres.' 'Cumberland Ave / Bay St SMART'
 'Dufferin St / Sylvan Av (Dufferin Grove Park)'
 'Russell Hill Rd / St Clair Ave W' 'Salem Ave / Bloor St W'
 'Eglinton Ave E / Redpath Ave' 'Queen St E / Hammersmith Ave'
 'King St E / Victoria St' '541 Huron St - SMART'
 'The Queensway at South Kingsway' 'Queen St W  /  Fuller Ave - SMART'
 '909 Yonge St' 'Yonge St / Davisville Ave'
 'Lundy Ave / Etienne Brule Park' 'Alvin Ave / St Clair Ave E'
 'Roxborough St W / Yonge St' 'Dufferin St / Bloor St'
 'Christie St / Benson Ave (Wychwood Barns)' 'St. George St / Bloor St W'
 'Mill St / Tannery Rd' 'Bathurst St / Dundas St W'
 'Yonge St / Orchard View Blvd' 'Ted Rogers Way / Bloor St E'
 'St Joseph St / Bay St - SMART' 'East Lynn Ave / Danforth Ave'
 'The Esplanade / Hahn Pl' 'Bleecker St / St James Ave'
 'Adelaide St W / Brant St' 'Ossington Ave / Bloor St W'
 'Jane St / Bloor St W (Jane Subway Station)'
 'The Royal Ontario Museum (Bloor St Entrance)'
 'Liberty St / Fraser Ave Green P' 'Dundonald St / Church St'
 'Humber Bay Shores Park East'
 "Queen's Park Cres E / Grosvenor St - SMART" 'Teddington Park Ave'
 'Concord Ave / Bloor St W' '20 Charles St E' 'Winona Dr / Davenport Rd'
 'King St W / York St' 'Victoria Park Subway Station - SMART'
 'Bay St / Bloor St W (East Side)' 'Queen St W / Roncesvalles Ave'
 'Priscilla  Ave / Dundas St W' 'Fort York Blvd / Bathurst St SMART'
 'Polson Pier' 'Broadview Ave / Danforth Ave'
 'Roncesvalles Ave / Marmaduke St' 'George St / King St E'
 'Bloor St W / Pacific Ave' 'Kendal Ave / Spadina Rd'
 '1 Market St - SMART' 'St Clarens Ave / College St'
 'Jameson Ave / Queen St W' 'Davenport Rd / Oakwood Rd - SMART'
 'Regal Rd / Dufferin St' 'HTO Park (Queens Quay W)'
 'Danforth Ave / Lamb Ave' 'Sumach St  / Queen St E'
 'Howard Park Ave / Dundas St W - SMART' 'Bloor St W / Balmuto St'
 'Simcoe St / Michael Sweet Ave' 'Mallon Ave / Jones Ave -SMART'
 'Nassau St / Bellevue Ave' 'Danforth Ave / Dewhurst Blvd'
 'Chiltern Hill Rd / Eglinton Ave W'
 'Sumach St / Carlton St. (Riverdale Farm)' 'Balliol St / Yonge St  SMART'
 'Torresdale Ave / Antibes Dr' 'Victoria Park Ave / Danforth Ave'
 'Victoria St / Queen St E' 'Augusta Ave / Denison Sq'
 "Strachan Ave / Princes' Blvd" 'Church St  / Wood St'
 'Front St W / Bay St (South Side)' 'Hanna Ave / Liberty St'
 'Elm St/ University Ave (East Side)' 'University Ave / Elm St'
 'Lake Shore Blvd W / Ontario Dr' 'University Ave / College St (West)'
 'Ward Ave / Wallace Ave' 'Bond St / Queen St E' 'Church St / Bloor St E'
 'Queen St E / Berkeley St' 'University Ave / King St W - SMART'
 'Queen St E / Woodward Ave' 'Northern Dancer Blvd / Lake Shore Blvd E'
 '424 Wellington St W' 'University Ave / Gerrard St W (WEST) - SMART'
 'The Pond Rd / Sentinel Rd' 'Dundas St W / Roncesvalles Green P - SMART'
 'Amos Waites Park' 'Swansea Community Centre' 'Amelia St. / Sumach St.'
 'Davenport Rd / Avenue Rd' 'Spadina Ave / Adelaide St W'
 'Simcoe St / Wellington St North' 'Glen Edyth Dr / Davenport Rd'
 'York University (Glendon Campus) - SMART'
 'Davenport Rd / McAlpine St - SMART' 'St Clarens Ave / Shirley Ave'
 '111 Bond St (North of Dundas St E)  - SMART' 'Windsor St / Newcastle St'
 'Eastwood Rd / Coxwell Ave' 'Brick Works' 'High Park - West Rd'
 'St Clair Ave W / Castleton Ave' 'The Queensway / High St'
 'Tommy Thompson Park (Leslie Street Spit)'
 'Royal York Rd / Lake Shore Blvd W' 'Trinity St /Front St E'
 'Cosburn Ave / Cedarvale Ave' 'Dundas St E / Boulton Ave - SMART'
 'Lansdowne Subway Station' 'Briar Hill Ave / Yonge St - SMART'
 '12 Harbour St' 'Bloor St W / Huron St' 'Orchard Park' 'Cherry Beach'
 'Wychwood Ave / Benson Ave - SMART' 'Orde St / McCaul St'
 'Hubbard Blvd. / Glen Manor Dr.' 'Lake Shore Blvd E / Knox Ave'
 'High Park Amphitheatre' 'Front St W / University Ave (2)'
 'Lake Shore Blvd E / Leslie St' 'Lawton Blvd / Yonge St'
 'Bloor St W / High Park Ave (High Park)' 'Palmerston Ave / Vermont Ave'
 'Wells Hill Ave / St Clair Ave W' 'Coxwell Ave /  Lake Shore Blvd E'
 'Parkside Dr / Bloor St W - SMART' 'Queen St E / Alton Av'
 'Dupont St / Emerson Ave SMART' 'Bay St / College St (West Side) - SMART'
 'Roehampton Ave / Mount Pleasant Rd' 'Hubbard Blvd / Balsam Av'
 'High Park - Grenadier Cafe' 'Richmond St E / Jarvis St Green P'
 'Sentinel Rd / Finch Hydro Corridor' "Wellesley St / Queen's Park Cres"
 'Morse St / Eastern Ave' 'Vaughan Rd / Oakwood Ave'
 'Queen St W / James St' 'Lake Shore Blvd W / Colborne Lodge Dr'
 'Spadina Ave / Sussex Ave - SMART' 'Primrose Ave / Davenport Rd'
 'Fulton Ave / Pape Ave' 'Woodbine Subway Green P SMART'
 'Gerrard St E / Victoria Park Ave - SMART'
 'Mortimer Ave / Carlaw Ave SMART' 'Humberside Grounds - SMART'
 'Havelock St / Dufferin Park' 'St. George St / Hoskin Ave'
 'Danforth Ave / Aldridge Ave'
 'Queen St E / Nursewood Rd (Neville Park Loop)'
 'Martin Goodman Trail (Marilyn Bell Park)' 'University Ave / Armoury St'
 'Fleming Cres / Bayview Ave' 'King St W / Bay St (East Side)'
 'Ripley Ave / Ormskirk Ave' 'Logan Ave / Bain Ave'
 'Eastwood Rd / Woodbine Ave - SMART' 'Davenport Rd / Bedford Rd'
 'Garden Ave / Roncesvalles Ave' 'Woodbine Ave / Lake Shore Blvd E'
 'Mary McCormick Rec Centre (Sheridan Ave)' 'Kingston Rd / Beech Ave'
 'Ellis Ave / The Queensway' 'Superior Ave / Lake Shore Blvd W'
 'Exhibition GO (Atlantic Ave)' 'King St W / Bay St (West Side)'
 '200 Bloor St. E.' 'Vaughan Rd /Wychwood Ave' 'Toronto Inukshuk Park'
 'Wallace Ave / Pauline Ave' 'High Park Subway Station'
 'Roehampton St / Bayview Ave' 'Yonge St / Harbour St' 'Kings Mill Park'
 'Lake Shore Blvd W / Twenty Fourth St' 'Danforth Ave / Ellerbeck St'
 'Gerrard St E / Malvern Ave - SMART' 'Queen St. E / Eastern Ave'
 'Yonge St / Woburn Ave - SMART' 'Exhibition GO Station'
 'Gamble Ave / Broadview Ave' 'Langford Ave / Danforth Ave - SMART'
 'Queen St E / Pape Ave - SMART' 'Long Branch GO Station'
 'Barton St / Howland St - SMART' 'Bloor St W / Brock Ave'
 'St Clair Ave W / Gunns Rd' 'Rushton Rd / St Clair Ave W'
 'Queen St E / Rushbrooke Ave' 'Huron/ Harbord St' 'Chorley Park - SMART'
 "Woodbine Ave / O'Connor Dr" 'Hillsdale Ave W / Yonge St'
 'Lonsdale Rd / Spadina Rd' 'Danforth Ave / Barrington Ave'
 'Dundas St W / St Helen Ave - SMART' 'Antler St / Campbell Ave - SMART'
 'Martin Goodman Trail / Ontario Dr' 'Elwood Blvd / Avenue Rd'
 'Joseph J Piccininni Community Centre' 'High Park Ave / Dundas St W'
 'Alton Ave / Dundas St E (Greenwood Park)'
 'Bay St / Bloor St W (West Side)' 'Bellwoods Ave / Treford Pl - SMART'
 'Dovercourt Rd / Harrison St (Green P) - SMART' '1525 Dundas St'
 'Summerhill Station' 'Colonel Danforth Park' 'Trent Ave / Danforth Ave'
 'Mortimer Ave / Coxwell Ave' 'Carlaw Ave / Strathcona Ave'
 'Lascelles Blvd / Eglinton Ave W' 'Judson St / Royal York'
 'Russell St / Huron St - SMART' 'Annette St / Jane St'
 'Summerhill Ave / Maclennan Ave' '161 Bleecker St (South of Wellesley)'
 'Donlands Station' 'Neil McLellan Park' 'York University Station (North)'
 'Amroth Ave / Danforth Ave' 'Pottery Rd / Lower Don River Trail'
 "O'Connor Dr / Curity Ave - SMART" 'Blythwood Rd / Yonge St - SMART'
 '25 York St – Union Station South' 'Queen St. E / Spruce Hill Rd.'
 'Yonge St / Montgomery Ave - SMART' 'Kew Beach Ave / Kenilworth Ave'
 'Moore Park' 'Blantyre Park'
 'Lower Don River Trail and Taylor Creek Trail'
 'Cherry Beach Sports Field (55 Unwin Ave)'
 'Merton St / Mount Pleasant Rd' '128 Sterling Ave - SMART'
 'Dufferin Gate - SMART' 'Woodbine Subway Station'
 'Royal York Rd / Mimico Ave' 'Coxwell Ave / Plains Rd'
 'Gerrard St E / Ted Reeve Dr' '135 Queens Wharf  - SMART'
 'Alameda Ave / Vaughan Rd - SMART' 'Sunnybrook Health Centre - L Wing'
 'Broadview Ave / Westwood Ave' 'Dawes Rd / Taylor Creek Trl'
 'Finch West Subway Station' 'Durie St / Dundas St W'
 'High Park Outdoor Pool' 'Lumsden Ave / Eastdale Ave'
 'Runnymede Rd / Annette St' 'Yonge St / Aylmer Ave'
 'Starspray Ave / Lawrence Ave E' 'Goodwood Park Ct / Dentonia Park'
 'Yonge St / Lawrence Ave' 'Waterfront Trail (Rouge Hill)'
 'Yonge St / Golfdale Rd' 'Rouge Hill GO Station'
 'Eglinton Ave W / Henning Ave SMART' 'Eastern Ave / Winnifred Ave'
 'Wright / Sorauren (Sorauren Park) - SMART'
 'Livingston Rd / Guildwood Pkwy' 'Lake Shore Blvd W / Louisa St'
 'Berry Rd / Bell Manor Dr' 'Cosburn Ave / Durant Ave'
 'Twelfth St / Thirteenth St' 'Dundas St W / Watkinson Ave'
 'Sterling Rd / Dundas St W' 'Esther Shiner Stadium' 'Florence Gell Park'
 'High Park Subway' 'Davisville Ave / Pailton Cres'
 'Braemar Ave / Eglinton Ave W' 'Sunnybrook Health Centre - S Wing'
 'Eglinton Ave W / Scarlett Rd'
 'E.T. Seton Park (Eglinton Ave E / Leslie St)' 'Marie Curtis Park'
 'Annette St / Dundas W' 'Sunnybrook Park'
 'Dufferin St / Finch Hydro Recreational Trail' 'Wilket Creek Park'
 'Kilgour Rd / Rumsey Rd' 'Humber College'
 'York University Station (South) - SMART' 'Dentonia Park'
 'Bloor St W / Riverside Ave' 'Lake Shore Blvd W / Thirty Ninth Street'
 'Weston Lions Park' 'Clendenan Ave / Rowland St - SMART'
 'University of Toronto Scarborough' 'Rosedale Park (20 Schofield Ave)'
 'St Columba Pl / St Clair Ave E' 'G Ross Lord Park'
 'Guildwood GO Station (South)' 'Morningside Park (Highland Creek Trail)'
 'Livingston Rd (Highland Creek Trail)' 'Warehouse EBS-Station'
 '25 York St � Union Station South' 'Queen St W / Portland St'
 'Temperance St. Station' 'Parliament St / Aberdeen Ave'
 'Gailbraith Rd / King�s College Cr. (U of T)' 'Widmer St / Adelaide St W'
 'Scott St / The Esplanade' '555 Bloor St East'
 'Gailbraith Rd / King’s College Cr. (U of T)']

In [9]:
#Replacing 'nan' values with 'unknown'
bikes_df = bikes_df.replace({'nan': 'unknown'})

In [10]:
specific_value = 'nan'
found_rows = bikes_df[bikes_df['end_station_id'] == specific_value]

# Print the rows where the nan values are found
print(f"\nRows where 'end_station_id' is {specific_value}:\n", found_rows)

Rows where 'end_station_id' is nan:
 Empty DataFrame
Columns: [trip_id, trip_duration, start_station_id, start_time, start_station_name, end_station_id, end_time, end_station_name, bike_id, user_type]
Index: []

In [11]:
#Converting datatypes and columns to string.
bikes_df['start_station_id'] = bikes_df['start_station_id'].astype(str)
bikes_df['trip_id'] = bikes_df['trip_id'].astype(str)
bikes_df['bike_id'] = bikes_df['bike_id'].astype(str)

In [12]:
#Preview of the dataset
bikes_df.head()

,trip_id,trip_duration,start_station_id,start_time,start_station_name,end_station_id,end_time,end_station_name,bike_id,user_type
0,20148784,840,7022,01/01/2023 00:00,Simcoe St / Queen St W,7703.0,01/01/2023 00:14,NaN,1770,Casual Member
1,20148785,722,7399,01/01/2023 00:01,Lower Jarvis / Queens Quay E,7533.0,01/01/2023 00:13,Housey St / Dan Leckie Way,6400,Casual Member
2,20148786,1054,7269,01/01/2023 00:02,Toronto Eaton Centre (Yonge St),7076.0,01/01/2023 00:20,York St / Queens Quay W,4068,Annual Member
3,20148790,1329,7721,01/01/2023 00:04,NaN,7685.0,01/01/2023 00:26,NaN,427,Casual Member
4,20148791,1291,7721,01/01/2023 00:04,NaN,7685.0,01/01/2023 00:26,NaN,1840,Casual Member

# Checking Null Values in each column

In [13]:
#Checking to see if the dataset has null values on each column
null_values = bikes_df['trip_id'].isnull().sum()

# Print the number of null values
print(f"Number of null values in 'trip_id': {null_values}")

null_values = bikes_df['trip_duration'].isnull().sum()

# Print the number of null values
print(f"Number of null values in 'trip_duration': {null_values}")

null_values = bikes_df['start_station_id'].isnull().sum()

# Print the number of null values
print(f"Number of null values in 'start_station_id': {null_values}")

null_values = bikes_df['end_station_id'].isnull().sum()

# Print the number of null values
print(f"Number of null values in 'end_station_id': {null_values}")

null_values = bikes_df['start_station_name'].isnull().sum()

# Print the number of null values
print(f"Number of null values in 'start_station_name': {null_values}")

null_values = bikes_df['end_station_name'].isnull().sum()

# Print the number of null values
print(f"Number of null values in 'end_station_name': {null_values}")

null_values = bikes_df['bike_id'].isnull().sum()

# Print the number of null values
print(f"Number of null values in 'bike_id': {null_values}")

null_values = bikes_df['start_time'].isnull().sum()

# Print the number of null values
print(f"Number of null values in 'start_time': {null_values}")

null_values = bikes_df['end_time'].isnull().sum()

# Print the number of null values
print(f"Number of null values in 'end_time': {null_values}")

null_values = bikes_df['user_type'].isnull().sum()

# Print the number of null values
print(f"Number of null values in 'user_type': {null_values}")

Number of null values in 'trip_id': 0
Number of null values in 'trip_duration': 0
Number of null values in 'start_station_id': 0
Number of null values in 'end_station_id': 0
Number of null values in 'start_station_name': 595075
Number of null values in 'end_station_name': 598563
Number of null values in 'bike_id': 0
Number of null values in 'start_time': 0
Number of null values in 'end_time': 0
Number of null values in 'user_type': 0

# **Replacing Null Values.**

In [14]:
bikes_df['start_station_name'] = bikes_df['start_station_name'].fillna('unknown')
bikes_df['end_station_id'] = bikes_df['end_station_id'].fillna('uknown')
bikes_df['end_station_name'] = bikes_df['end_station_name'].fillna('uknown')

In [15]:
bikes_df.head()

,trip_id,trip_duration,start_station_id,start_time,start_station_name,end_station_id,end_time,end_station_name,bike_id,user_type
0,20148784,840,7022,01/01/2023 00:00,Simcoe St / Queen St W,7703.0,01/01/2023 00:14,uknown,1770,Casual Member
1,20148785,722,7399,01/01/2023 00:01,Lower Jarvis / Queens Quay E,7533.0,01/01/2023 00:13,Housey St / Dan Leckie Way,6400,Casual Member
2,20148786,1054,7269,01/01/2023 00:02,Toronto Eaton Centre (Yonge St),7076.0,01/01/2023 00:20,York St / Queens Quay W,4068,Annual Member
3,20148790,1329,7721,01/01/2023 00:04,unknown,7685.0,01/01/2023 00:26,uknown,427,Casual Member
4,20148791,1291,7721,01/01/2023 00:04,unknown,7685.0,01/01/2023 00:26,uknown,1840,Casual Member

In [16]:
# Converting 'trip_duration' to numeric
bikes_df['trip_duration_seconds'] = pd.to_numeric(bikes_df['trip_duration'], errors='coerce')

# Converting 'end_time' and 'start_time' columns
bikes_df['start_time'] = pd.to_datetime(bikes_df['start_time'], format='%m/%d/%Y %H:%M', errors='coerce')
bikes_df['end_time'] = bikes_df['start_time'] + pd.to_timedelta(bikes_df['trip_duration_seconds'], unit='s')

# Splitting 'start_time' into 'start_date' and 'start_time' columns
bikes_df['start_date'] = bikes_df['start_time'].dt.date
bikes_df['start_time'] = bikes_df['start_time'].dt.time

# Splitting 'end_time' into 'end_date' and 'end_time' columns
bikes_df['end_date'] = bikes_df['end_time'].dt.date
bikes_df['end_time'] = bikes_df['end_time'].dt.time

# Reorganizing columns
bikes_df = bikes_df[['trip_id', 'trip_duration_seconds', 'start_station_id', 'start_station_name', 'start_time', 'start_date', 'end_station_id', 'end_station_name', 'end_time', 'end_date', 'bike_id', 'user_type']]

In [17]:
#Converting end_station_id to string and stripping the . and 0.
bikes_df['end_station_id'] = bikes_df['end_station_id'].astype(str).apply(lambda x: x.rstrip('.0'))

In [18]:
bikes_df.head()

,trip_id,trip_duration_seconds,start_station_id,start_station_name,start_time,start_date,end_station_id,end_station_name,end_time,end_date,bike_id,user_type
0,20148784,840,7022,Simcoe St / Queen St W,00:00:00,2023-01-01,7703,uknown,00:14:00,2023-01-01,1770,Casual Member
1,20148785,722,7399,Lower Jarvis / Queens Quay E,00:01:00,2023-01-01,7533,Housey St / Dan Leckie Way,00:13:02,2023-01-01,6400,Casual Member
2,20148786,1054,7269,Toronto Eaton Centre (Yonge St),00:02:00,2023-01-01,7076,York St / Queens Quay W,00:19:34,2023-01-01,4068,Annual Member
3,20148790,1329,7721,unknown,00:04:00,2023-01-01,7685,uknown,00:26:09,2023-01-01,427,Casual Member
4,20148791,1291,7721,unknown,00:04:00,2023-01-01,7685,uknown,00:25:31,2023-01-01,1840,Casual Member

In [19]:
bikes_df.dtypes

trip_id                  object
trip_duration_seconds     int64
start_station_id         object
start_station_name       object
start_time               object
start_date               object
end_station_id           object
end_station_name         object
end_time                 object
end_date                 object
bike_id                  object
user_type                object
dtype: object

In [20]:
#Converting the start_date and end_date to date format.
bikes_df['start_date'] = pd.to_datetime(bikes_df['start_date'], format='%Y-%m-%d', errors='coerce')
bikes_df['end_date'] = pd.to_datetime(bikes_df['end_date'], format='%Y-%m-%d', errors='coerce')

In [21]:
bikes_df.dtypes

trip_id                          object
trip_duration_seconds             int64
start_station_id                 object
start_station_name               object
start_time                       object
start_date               datetime64[ns]
end_station_id                   object
end_station_name                 object
end_time                         object
end_date                 datetime64[ns]
bike_id                          object
user_type                        object
dtype: object

In [22]:
#Counting the number of unique values in each column
bikes_df.nunique()

trip_id                  5713141
trip_duration_seconds      22922
start_station_id             814
start_station_name           594
start_time                  1440
start_date                   365
end_station_id               816
end_station_name             593
end_time                   86331
end_date                     371
bike_id                     7446
user_type                      2
dtype: int64

In [23]:
#Checking for missing values in each column
bikes_df.isna().sum()

trip_id                  0
trip_duration_seconds    0
start_station_id         0
start_station_name       0
start_time               0
start_date               0
end_station_id           0
end_station_name         0
end_time                 0
end_date                 0
bike_id                  0
user_type                0
dtype: int64

In [24]:
#Specifying the column name to filter
column_name = 'start_station_name'

#Creating a subset of the dataframe to get rows with 'unknown' values
rows_with_unknown = bikes_df[bikes_df['start_station_name'] == 'unknown']

# Printing the rows with the value 'unknown' in the specified column
print(rows_with_unknown)

          trip_id  trip_duration_seconds start_station_id start_station_name  \
3        20148790                   1329             7721            unknown
4        20148791                   1291             7721            unknown
6        20148796                    786             7713            unknown
10       20148801                    667             7698            unknown
15       20148807                    764             7713            unknown
...           ...                    ...              ...                ...
5713113  26661192                    554             7720            unknown
5713115  26663642                     95             7707            unknown
5713127  26678261                      0             7719            unknown
5713132  26679155                      0             7802            unknown
5713137  26681858                      0             7770            unknown

        start_time start_date end_station_id  \
3         00:04:00 2023-01-01           7685
4         00:04:00 2023-01-01           7685
6         00:06:00 2023-01-01           7076
10        00:07:00 2023-01-01           7521
15        00:10:00 2023-01-01           7014
...            ...        ...            ...
5713113   15:49:00 2023-12-28        unknown
5713115   00:09:00 2023-12-29        unknown
5713127   10:23:00 2023-12-31        unknown
5713132   12:41:00 2023-12-31        unknown
5713137   18:50:00 2023-12-31        unknown

                                   end_station_name  end_time   end_date  \
3                                            uknown  00:26:09 2023-01-01
4                                            uknown  00:25:31 2023-01-01
6                           York St / Queens Quay W  00:19:06 2023-01-01
10                         Emerson Ave / Bloor St W  00:18:07 2023-01-01
15       Sherbourne St / Carlton St (Allan Gardens)  00:22:44 2023-01-01
...                                             ...       ...        ...
5713113                                      uknown  15:58:14 2023-12-28
5713115                                      uknown  00:10:35 2023-12-29
5713127                                      uknown  10:23:00 2023-12-31
5713132                                      uknown  12:41:00 2023-12-31
5713137                                      uknown  18:50:00 2023-12-31

        bike_id      user_type
3           427  Casual Member
4          1840  Casual Member
6          3991  Casual Member
10          694  Casual Member
15         5321  Annual Member
...         ...            ...
5713113    4955  Casual Member
5713115    7524  Casual Member
5713127    3611  Casual Member
5713132    4219  Casual Member
5713137    5715  Casual Member

[595075 rows x 12 columns]

There are 595,075 rows that have 'unknown' values in the start_station_name column

In [25]:
#Specifying the column to filter
column_name = 'end_station_name'

#Checking the rows with 'uknown' values
rows_with_unknown = bikes_df[bikes_df['end_station_name'] == 'uknown']

# Printing the rows with the value 'unknown' in the specified column
print(rows_with_unknown)

          trip_id  trip_duration_seconds start_station_id  \
0        20148784                    840             7022
3        20148790                   1329             7721
4        20148791                   1291             7721
11       20148802                   1644             7514
14       20148806                   1477             7514
...           ...                    ...              ...
5713136  26680335                      0             7197
5713137  26681858                      0             7770
5713138  26682252                      0             7537
5713139  26682255                      0             7537
5713140  26682698                   3431             7411

                                start_station_name start_time start_date  \
0                           Simcoe St / Queen St W   00:00:00 2023-01-01
3                                          unknown   00:04:00 2023-01-01
4                                          unknown   00:04:00 2023-01-01
11       Humber Bay Shores Park / Marine Parade Dr   00:08:00 2023-01-01
14       Humber Bay Shores Park / Marine Parade Dr   00:10:00 2023-01-01
...                                            ...        ...        ...
5713136                 Queen St W / Dovercourt Rd   15:04:00 2023-12-31
5713137                                    unknown   18:50:00 2023-12-31
5713138            Euclid Ave / Herrick St - SMART   20:56:00 2023-12-31
5713139            Euclid Ave / Herrick St - SMART   20:56:00 2023-12-31
5713140                         Little Norway Park   23:43:00 2023-12-31

        end_station_id end_station_name  end_time   end_date bike_id  \
0                 7703           uknown  00:14:00 2023-01-01    1770
3                 7685           uknown  00:26:09 2023-01-01     427
4                 7685           uknown  00:25:31 2023-01-01    1840
11                 776           uknown  00:35:24 2023-01-01    2337
14                 776           uknown  00:34:37 2023-01-01    2473
...                ...              ...       ...        ...     ...
5713136        unknown           uknown  15:04:00 2023-12-31    5739
5713137        unknown           uknown  18:50:00 2023-12-31    5715
5713138        unknown           uknown  20:56:00 2023-12-31    3727
5713139        unknown           uknown  20:56:00 2023-12-31    2991
5713140        unknown           uknown  00:40:11 2024-01-01    2346

             user_type
0        Casual Member
3        Casual Member
4        Casual Member
11       Casual Member
14       Casual Member
...                ...
5713136  Casual Member
5713137  Casual Member
5713138  Casual Member
5713139  Casual Member
5713140  Casual Member

[598563 rows x 12 columns]

There are 598,563 rows of 'uknown' value in the end_station_name column

In [26]:
#Format to three decimal places
pd.set_option('display.float_format', lambda x: '%.3f' % x)

#Summary statistics of bikes_df
bikes_df.describe()

,trip_duration_seconds,start_date,end_date
count,5713141.000,5713141,5713141
mean,1079.395,2023-07-22 05:57:15.351797760,2023-07-22 06:06:33.119373056
min,0.000,2023-01-01 00:00:00,2023-01-01 00:00:00
25%,421.000,2023-05-27 00:00:00,2023-05-27 00:00:00
50%,687.000,2023-07-28 00:00:00,2023-07-28 00:00:00
75%,1120.000,2023-09-23 00:00:00,2023-09-23 00:00:00
max,3980837.000,2023-12-31 00:00:00,2024-01-07 00:00:00
std,8797.974,NaN,NaN

In [27]:
# Filtering the bikes_df DataFrame to include only rows where the trip duration is 60 seconds or more
# This filtering helps remove very short trips

bikes_df = bikes_df[bikes_df['trip_duration_seconds'] >= 60]

In [28]:
#Summary statistics to three decimal places.
pd.set_option('display.float_format', lambda x: '%.3f' % x)
bikes_df.describe()

,trip_duration_seconds,start_date,end_date
count,5701110.000,5701110,5701110
mean,1081.655,2023-07-22 05:44:37.632250368,2023-07-22 05:53:56.576877568
min,60.000,2023-01-01 00:00:00,2023-01-01 00:00:00
25%,423.000,2023-05-27 00:00:00,2023-05-27 00:00:00
50%,689.000,2023-07-28 00:00:00,2023-07-28 00:00:00
75%,1121.000,2023-09-23 00:00:00,2023-09-23 00:00:00
max,3980837.000,2023-12-31 00:00:00,2024-01-07 00:00:00
std,8807.115,NaN,NaN

# Looking up the missing station names

In [29]:
# Making an HTTP GET request to the specified URL to retrieve station information
response = requests.get('https://tor.publicbikesystem.net/ube/gbfs/v1/en/station_information')

# Converting the response content from JSON format to extract station data selecting specific columns
bikeshare_stations = pd.DataFrame(json.loads(response.content)['data']['stations'])[[
   'station_id', 'name', 'lat', 'lon', 'capacity'
   ]].astype({'station_id': 'str',})

#Displaying the first five rows
bikeshare_stations.head()

  station_id                          name    lat     lon  capacity
0       7000  Fort York  Blvd / Capreol Ct 43.640 -79.396        35
1       7001     Wellesley Station Green P 43.665 -79.384        23
2       7002    St. George St / Bloor St W 43.667 -79.399        19
3       7003      Madison Ave / Bloor St W 43.667 -79.403        15
4       7005           King St W / York St 43.648 -79.383        23

In [30]:
#Checking data types of each column
bikeshare_stations.dtypes

station_id     object
name           object
lat           float64
lon           float64
capacity        int64
dtype: object

In [31]:
# Identifying unique station IDs associated with 'unknown' start and end stations
unknown_start_station_ids = bikes_df['start_station_id'][bikes_df['start_station_name'] == 'unknown'].unique()
unknown_end_station_ids = bikes_df['end_station_id'][bikes_df['end_station_name'] == 'unknown'].unique()

# Filtering the bikeshare_stations_df DataFrame to find the IDs and names of stations with 'unknown' IDs
unknown_start_stations = bikeshare_stations[bikeshare_stations['station_id'].isin(unknown_start_station_ids)][['station_id', 'name']]
unknown_end_stations = bikeshare_stations[bikeshare_stations['station_id'].isin(unknown_end_station_ids)][['station_id', 'name']]

print("Unknown start stations:")
print(unknown_start_stations)

print("\nUnknown end stations:")
print(unknown_end_stations)

Unknown start stations:
    station_id                                name
562       7682            Bathurst St / Front St W
563       7684          Bay St / Harbour St (East)
564       7685                King St W / Brant St
565       7686     Lower Jarvis St / The Esplanade
566       7687  Bloor St W / Gladstone Ave - SMART
..         ...                                 ...
776       7914       York St / Wellington St W (2)
777       7915                Rogers Rd / Watt Ave
778       7916          University Ave / Pearl St
779       7917          King St W / University Ave
780       7918               Albion Rd/ Arcot Blvd

[219 rows x 2 columns]

Unknown end stations:
Empty DataFrame
Columns: [station_id, name]
Index: []

In [32]:
# Identifying unique station IDs associated with 'unknown' start and end stations names
unknown_start_station_ids = bikes_df['start_station_id'][bikes_df['start_station_name'] == 'unknown'].unique()
unknown_end_station_ids = bikes_df['end_station_id'][bikes_df['end_station_name'] == 'unknown'].unique()

# Filtering the bikeshare_stations_df DataFrame to find the IDs and names of stations with 'unknown' IDs
unknown_start_stations = bikeshare_stations[bikeshare_stations['station_id'].isin(unknown_start_station_ids)][['station_id', 'name']]
unknown_end_stations = bikeshare_stations[bikeshare_stations['station_id'].isin(unknown_end_station_ids)][['station_id', 'name']]

# Replacing 'unknown' start station names in bikes_df
for index, row in unknown_start_stations.iterrows():
    bikes_df.loc[bikes_df['start_station_id'] == row['station_id'], 'start_station_name'] = row['name']

# Replacing 'unknown' end station names in bikes_df
for index, row in unknown_end_stations.iterrows():
    bikes_df.loc[bikes_df['end_station_id'] == row['station_id'], 'end_station_name'] = row['name']

# Verifying the changes
bikes_df.head()

,trip_id,trip_duration_seconds,start_station_id,start_station_name,start_time,start_date,end_station_id,end_station_name,end_time,end_date,bike_id,user_type
0,20148784,840,7022,Simcoe St / Queen St W,00:00:00,2023-01-01,7703,uknown,00:14:00,2023-01-01,1770,Casual Member
1,20148785,722,7399,Lower Jarvis / Queens Quay E,00:01:00,2023-01-01,7533,Housey St / Dan Leckie Way,00:13:02,2023-01-01,6400,Casual Member
2,20148786,1054,7269,Toronto Eaton Centre (Yonge St),00:02:00,2023-01-01,7076,York St / Queens Quay W,00:19:34,2023-01-01,4068,Annual Member
3,20148790,1329,7721,Widmer St / King St W,00:04:00,2023-01-01,7685,uknown,00:26:09,2023-01-01,427,Casual Member
4,20148791,1291,7721,Widmer St / King St W,00:04:00,2023-01-01,7685,uknown,00:25:31,2023-01-01,1840,Casual Member

In [33]:
#Filtering column name from dataframe
column_name = 'end_station_name'

# Filter rows where the 'end_station_name' column has the value 'unknown'
rows_with_unknown = bikes_df[bikes_df[column_name] == 'uknown']

# Printing the rows with the value 'unknown' in the specified column
print(rows_with_unknown)

          trip_id  trip_duration_seconds start_station_id  \
0        20148784                    840             7022
3        20148790                   1329             7721
4        20148791                   1291             7721
11       20148802                   1644             7514
14       20148806                   1477             7514
...           ...                    ...              ...
5713116  26664175                   1200             7055
5713119  26667491                   9745             7016
5713121  26670570                    868             7069
5713122  26673283                    759             7543
5713140  26682698                   3431             7411

                                start_station_name start_time start_date  \
0                           Simcoe St / Queen St W   00:00:00 2023-01-01
3                            Widmer St / King St W   00:04:00 2023-01-01
4                            Widmer St / King St W   00:04:00 2023-01-01
11       Humber Bay Shores Park / Marine Parade Dr   00:08:00 2023-01-01
14       Humber Bay Shores Park / Marine Parade Dr   00:10:00 2023-01-01
...                                            ...        ...        ...
5713116                     Jarvis St / Carlton St   07:23:00 2023-12-29
5713119    Bay St / Queens Quay W (Ferry Terminal)   15:18:00 2023-12-29
5713121                   Queen St W / Spadina Ave   02:32:00 2023-12-30
5713122                   Nassau St / Bellevue Ave   14:09:00 2023-12-30
5713140                         Little Norway Park   23:43:00 2023-12-31

        end_station_id end_station_name  end_time   end_date bike_id  \
0                 7703           uknown  00:14:00 2023-01-01    1770
3                 7685           uknown  00:26:09 2023-01-01     427
4                 7685           uknown  00:25:31 2023-01-01    1840
11                 776           uknown  00:35:24 2023-01-01    2337
14                 776           uknown  00:34:37 2023-01-01    2473
...                ...              ...       ...        ...     ...
5713116        unknown           uknown  07:43:00 2023-12-29    5147
5713119        unknown           uknown  18:00:25 2023-12-29    5187
5713121        unknown           uknown  02:46:28 2023-12-30    5884
5713122        unknown           uknown  14:21:39 2023-12-30    2614
5713140        unknown           uknown  00:40:11 2024-01-01    2346

             user_type
0        Casual Member
3        Casual Member
4        Casual Member
11       Casual Member
14       Casual Member
...                ...
5713116  Casual Member
5713119  Casual Member
5713121  Casual Member
5713122  Casual Member
5713140  Casual Member

[596054 rows x 12 columns]

We still have 99,025 rows that don't have their station names in the end_station_name column

In [34]:
#Inspecting the first 30 rows
rows_with_unknown.head(30)

,trip_id,trip_duration_seconds,start_station_id,start_station_name,start_time,start_date,end_station_id,end_station_name,end_time,end_date,bike_id,user_type
0,20148784,840,7022,Simcoe St / Queen St W,00:00:00,2023-01-01,7703,uknown,00:14:00,2023-01-01,1770,Casual Member
3,20148790,1329,7721,Widmer St / King St W,00:04:00,2023-01-01,7685,uknown,00:26:09,2023-01-01,427,Casual Member
4,20148791,1291,7721,Widmer St / King St W,00:04:00,2023-01-01,7685,uknown,00:25:31,2023-01-01,1840,Casual Member
11,20148802,1644,7514,Humber Bay Shores Park / Marine Parade Dr,00:08:00,2023-01-01,776,uknown,00:35:24,2023-01-01,2337,Casual Member
14,20148806,1477,7514,Humber Bay Shores Park / Marine Parade Dr,00:10:00,2023-01-01,776,uknown,00:34:37,2023-01-01,2473,Casual Member
35,20148828,430,7533,Housey St / Dan Leckie Way,00:20:00,2023-01-01,7682,uknown,00:27:10,2023-01-01,6400,Annual Member
51,20148848,298,7000,Fort York Blvd / Capreol Ct,00:24:00,2023-01-01,7682,uknown,00:28:58,2023-01-01,401,Casual Member
66,20148864,749,7682,Bathurst St / Front St W,00:27:00,2023-01-01,7719,uknown,00:39:29,2023-01-01,6400,Annual Member
180,20148989,252,7223,Parkside Dr / Bloor St W - SMART,00:54:00,2023-01-01,7688,uknown,00:58:12,2023-01-01,4067,Casual Member
192,20149006,1080,7072,Fleet St / Bathurst St,00:57:00,2023-01-01,7684,uknown,01:15:00,2023-01-01,4933,Casual Member
221,20149037,888,7472,Dundas St E / Victoria St,01:05:00,2023-01-01,7721,uknown,01:19:48,2023-01-01,7227,Casual Member
226,20149042,470,7033,Union Station,01:05:00,2023-01-01,7713,uknown,01:12:50,2023-01-01,249,Casual Member
242,20149060,473,7417,King St W / Jordan St,01:09:00,2023-01-01,772,uknown,01:16:53,2023-01-01,3885,Casual Member
245,20149063,157,7716,Church St / The Esplanade,01:10:00,2023-01-01,7716,uknown,01:12:37,2023-01-01,2903,Casual Member
294,20149116,1812,7472,Dundas St E / Victoria St,01:19:00,2023-01-01,7704,uknown,01:49:12,2023-01-01,4224,Casual Member
295,20149117,1939,7472,Dundas St E / Victoria St,01:20:00,2023-01-01,7704,uknown,01:52:19,2023-01-01,3920,Casual Member
306,20149128,115,7746,Marlee Ave / York Beltline Trail,01:21:00,2023-01-01,7746,uknown,01:22:55,2023-01-01,4042,Casual Member
320,20149144,865,7256,Vanauley St / Queen St W - SMART,01:24:00,2023-01-01,7693,uknown,01:38:25,2023-01-01,3612,Annual Member
325,20149149,308,7746,Marlee Ave / York Beltline Trail,01:25:00,2023-01-01,7754,uknown,01:30:08,2023-01-01,421,Casual Member
328,20149152,302,7746,Marlee Ave / York Beltline Trail,01:25:00,2023-01-01,7754,uknown,01:30:02,2023-01-01,5521,Casual Member
343,20149167,146,7090,Danforth Ave / Lamb Ave,01:28:00,2023-01-01,7706,uknown,01:30:26,2023-01-01,4338,Casual Member
345,20149170,130,7720,King St W / Portland St,01:29:00,2023-01-01,772,uknown,01:31:10,2023-01-01,5514,Annual Member
388,20149214,1428,7660,285 Victoria St,01:38:00,2023-01-01,7709,uknown,02:01:48,2023-01-01,5386,Casual Member
399,20149226,1216,7287,Queen St E / Pape Ave - SMART,01:42:00,2023-01-01,7689,uknown,02:02:16,2023-01-01,762,Casual Member
402,20149229,1148,7287,Queen St E / Pape Ave - SMART,01:42:00,2023-01-01,7689,uknown,02:01:08,2023-01-01,584,Casual Member
416,20149243,729,7375,Front St E / Scott St,01:45:00,2023-01-01,7685,uknown,01:57:09,2023-01-01,391,Casual Member
433,20149263,330,7032,Augusta Ave / Dundas St W,01:48:00,2023-01-01,7719,uknown,01:53:30,2023-01-01,4589,Casual Member
441,20149272,596,7052,Wellington St W / Bay St,01:49:00,2023-01-01,7717,uknown,01:58:56,2023-01-01,3766,Casual Member
445,20149276,629,7040,Euclid Ave / Bloor St W,01:50:00,2023-01-01,7711,uknown,02:00:29,2023-01-01,3532,Casual Member
446,20149277,722,7102,Nelson St / Duncan St,01:51:00,2023-01-01,7693,uknown,02:03:02,2023-01-01,309,Annual Member

In [35]:
# Filter rows where end_station_name is 'unknown'
unknown_end_stations = bikes_df[bikes_df['end_station_name'] == 'uknown']

# Get unique end_station_ids from the filtered DataFrame
unique_unknown_end_station_ids = unknown_end_stations['end_station_id'].unique()

# Display the result
print(unique_unknown_end_station_ids)

['7703' '7685' '776' '7682' '7719' '7688' '7684' '7721' '7713' '772'
 '7716' '7704' '7746' '7693' '7754' '7706' '7709' '7689' '7717' '7711'
 '7753' '7728' '7705' '7752' '7707' '7724' '77' '7692' '7757' '7738'
 '7701' '771' '7749' '7702' '7686' '7683' '7687' '7729' '7695' '773'
 '7694' '7718' '7744' '7732' '7708' '7712' '7699' '7715' '774' '7691'
 '7731' '7725' '775' '7748' '769' '7745' '7751' '7747' '7741' '7736'
 '7696' '7698' '7755' '7742' 'unknown' '7743' '7756' '7734' '7733' '7758'
 '7739' '7761' '7737' '7762' '7759' '7766' '7765' '7735' '7768' '7769'
 '7767' '777' '7771' '7772' '7773' '7777' '7778' '7774' '7775' '7779'
 '7776' '778' '7781' '7783' '7787' '7784' '7782' '7785' '7788' '779'
 '7791' '7723' '7792' '7794' '7795' '7796' '7798' '7799' '78' '7801'
 '7802' '7763' '7804' '7803' '7806' '7805' '7808' '7809' '7807' '781'
 '7811' '7812' '7815' '7814' '7813' '7816' '7817' '7818' '7819' '782'
 '7789' '7821' '7822' '7823' '7824' '7825' '7826' '7827' '7829' '783'
 '7828' '7831' '7832' '7833' '7835' '7834' '7836' '7848' '7837' '7838'
 '784' '7841' '7839' '7846' '7844' '7843' '7845' '7849' '7842' '785'
 '7855' '7852' '7854' '7858' '7857' '786' '7859' '7851' '7864' '7853'
 '7862' '7856' '7865' '7881' '787' '7868' '7869' '7872' '7874' '7866'
 '7863' '7861' '7871' '7883' '7884' '7879' '7873' '7899' '7898' '7876'
 '7887' '79' '7867' '788' '7878' '7886' '7893' '789' '7889' '7888' '7875'
 '7877' '7882' '7885' '7891' '7892' '7895' '7896' '7897' '7901' '7902'
 '7903' '7904' '7905' '7906' '7907' '7909' '791' '7911' '7912' '7913'
 '7914' '7916' '7917' '7918']

In [36]:
# Filter bikeshare_stations for missing station IDs
missing_station_info = bikeshare_stations[bikeshare_stations['station_id'].isin(unique_unknown_end_station_ids)]

# Display the result
print(missing_station_info[['station_id', 'name']])

    station_id                                name
562       7682            Bathurst St / Front St W
563       7684          Bay St / Harbour St (East)
564       7685                King St W / Brant St
565       7686     Lower Jarvis St / The Esplanade
566       7687  Bloor St W / Gladstone Ave - SMART
..         ...                                 ...
775       7913        St. George St / Willcocks St
776       7914       York St / Wellington St W (2)
778       7916          University Ave / Pearl St
779       7917          King St W / University Ave
780       7918               Albion Rd/ Arcot Blvd

[196 rows x 2 columns]

In [37]:
# Creating a dictionary mapping station_id to station_name for missing station information
station_id_to_name = dict(zip(missing_station_info['station_id'], missing_station_info['name']))

# Using map function to replace 'uknown' values in bikes_df
bikes_df['end_station_name'] = bikes_df['end_station_id'].map(station_id_to_name).combine_first(bikes_df['end_station_name'])

# Displaying the first five rows of the updated DataFrame
bikes_df.head()

,trip_id,trip_duration_seconds,start_station_id,start_station_name,start_time,start_date,end_station_id,end_station_name,end_time,end_date,bike_id,user_type
0,20148784,840,7022,Simcoe St / Queen St W,00:00:00,2023-01-01,7703,Oak St / Sackville St,00:14:00,2023-01-01,1770,Casual Member
1,20148785,722,7399,Lower Jarvis / Queens Quay E,00:01:00,2023-01-01,7533,Housey St / Dan Leckie Way,00:13:02,2023-01-01,6400,Casual Member
2,20148786,1054,7269,Toronto Eaton Centre (Yonge St),00:02:00,2023-01-01,7076,York St / Queens Quay W,00:19:34,2023-01-01,4068,Annual Member
3,20148790,1329,7721,Widmer St / King St W,00:04:00,2023-01-01,7685,King St W / Brant St,00:26:09,2023-01-01,427,Casual Member
4,20148791,1291,7721,Widmer St / King St W,00:04:00,2023-01-01,7685,King St W / Brant St,00:25:31,2023-01-01,1840,Casual Member

In [38]:
column_name = 'end_station_name'

rows_with_unknown = bikes_df[bikes_df['end_station_name'] == 'uknown']

# Print or view the rows with the value 'unknown' in the specified column
print(rows_with_unknown)

          trip_id  trip_duration_seconds start_station_id  \
11       20148802                   1644             7514
14       20148806                   1477             7514
242      20149060                    473             7417
345      20149170                    130             7720
399      20149226                   1216             7287
...           ...                    ...              ...
5713116  26664175                   1200             7055
5713119  26667491                   9745             7016
5713121  26670570                    868             7069
5713122  26673283                    759             7543
5713140  26682698                   3431             7411

                                start_station_name start_time start_date  \
11       Humber Bay Shores Park / Marine Parade Dr   00:08:00 2023-01-01
14       Humber Bay Shores Park / Marine Parade Dr   00:10:00 2023-01-01
242                          King St W / Jordan St   01:09:00 2023-01-01
345                        King St W / Portland St   01:29:00 2023-01-01
399                  Queen St E / Pape Ave - SMART   01:42:00 2023-01-01
...                                            ...        ...        ...
5713116                     Jarvis St / Carlton St   07:23:00 2023-12-29
5713119    Bay St / Queens Quay W (Ferry Terminal)   15:18:00 2023-12-29
5713121                   Queen St W / Spadina Ave   02:32:00 2023-12-30
5713122                   Nassau St / Bellevue Ave   14:09:00 2023-12-30
5713140                         Little Norway Park   23:43:00 2023-12-31

        end_station_id end_station_name  end_time   end_date bike_id  \
11                 776           uknown  00:35:24 2023-01-01    2337
14                 776           uknown  00:34:37 2023-01-01    2473
242                772           uknown  01:16:53 2023-01-01    3885
345                772           uknown  01:31:10 2023-01-01    5514
399               7689           uknown  02:02:16 2023-01-01     762
...                ...              ...       ...        ...     ...
5713116        unknown           uknown  07:43:00 2023-12-29    5147
5713119        unknown           uknown  18:00:25 2023-12-29    5187
5713121        unknown           uknown  02:46:28 2023-12-30    5884
5713122        unknown           uknown  14:21:39 2023-12-30    2614
5713140        unknown           uknown  00:40:11 2024-01-01    2346

             user_type
11       Casual Member
14       Casual Member
242      Casual Member
345      Annual Member
399      Casual Member
...                ...
5713116  Casual Member
5713119  Casual Member
5713121  Casual Member
5713122  Casual Member
5713140  Casual Member

[98999 rows x 12 columns]

**Dropping rows with issues that cannot be fixed

* Reason: The 99025 rows have data quality issues that cannot be resolved, and retaining them may impact the accuracy and reliability of our analysis.**

In [39]:
# Drop rows where end_station_id is unknown
bikes_df = bikes_df[bikes_df['end_station_id'] != 'uknown']

# Reset the index if needed
bikes_df.reset_index(drop=True, inplace=True)

In [40]:
column_name = 'end_station_name'

rows_with_unknown = bikes_df[bikes_df['end_station_name'] == 'uknown']

# Print or view the rows with the value 'unknown' in the specified column
print(rows_with_unknown)

          trip_id  trip_duration_seconds start_station_id  \
11       20148802                   1644             7514
14       20148806                   1477             7514
242      20149060                    473             7417
345      20149170                    130             7720
399      20149226                   1216             7287
...           ...                    ...              ...
5701105  26664175                   1200             7055
5701106  26667491                   9745             7016
5701107  26670570                    868             7069
5701108  26673283                    759             7543
5701109  26682698                   3431             7411

                                start_station_name start_time start_date  \
11       Humber Bay Shores Park / Marine Parade Dr   00:08:00 2023-01-01
14       Humber Bay Shores Park / Marine Parade Dr   00:10:00 2023-01-01
242                          King St W / Jordan St   01:09:00 2023-01-01
345                        King St W / Portland St   01:29:00 2023-01-01
399                  Queen St E / Pape Ave - SMART   01:42:00 2023-01-01
...                                            ...        ...        ...
5701105                     Jarvis St / Carlton St   07:23:00 2023-12-29
5701106    Bay St / Queens Quay W (Ferry Terminal)   15:18:00 2023-12-29
5701107                   Queen St W / Spadina Ave   02:32:00 2023-12-30
5701108                   Nassau St / Bellevue Ave   14:09:00 2023-12-30
5701109                         Little Norway Park   23:43:00 2023-12-31

        end_station_id end_station_name  end_time   end_date bike_id  \
11                 776           uknown  00:35:24 2023-01-01    2337
14                 776           uknown  00:34:37 2023-01-01    2473
242                772           uknown  01:16:53 2023-01-01    3885
345                772           uknown  01:31:10 2023-01-01    5514
399               7689           uknown  02:02:16 2023-01-01     762
...                ...              ...       ...        ...     ...
5701105        unknown           uknown  07:43:00 2023-12-29    5147
5701106        unknown           uknown  18:00:25 2023-12-29    5187
5701107        unknown           uknown  02:46:28 2023-12-30    5884
5701108        unknown           uknown  14:21:39 2023-12-30    2614
5701109        unknown           uknown  00:40:11 2024-01-01    2346

             user_type
11       Casual Member
14       Casual Member
242      Casual Member
345      Annual Member
399      Casual Member
...                ...
5701105  Casual Member
5701106  Casual Member
5701107  Casual Member
5701108  Casual Member
5701109  Casual Member

[98999 rows x 12 columns]

In [41]:
# Filter rows where end_station_name is 'unknown'
unknown_end_stations = bikes_df[bikes_df['end_station_name'] == 'uknown']

# Get unique end_station_ids from the filtered DataFrame
unique_unknown_end_station_ids = unknown_end_stations['end_station_id'].unique()

# Display the result
print(unique_unknown_end_station_ids)

['776' '772' '7689' '77' '771' '7683' '773' '774' '775' '769' 'unknown'
 '777' '778' '779' '7723' '7792' '78' '7763' '781' '782' '783' '784' '785'
 '786' '787' '79' '788' '789' '791']

In [42]:
# Drop rows with any column containing 'uknown' values
bikes_df_cleaned = bikes_df.replace('uknown', pd.NA).dropna()

# Reset the index if needed
bikes_df_cleaned.reset_index(drop=True, inplace=True)

In [43]:
#Inspecting the first five rows after dropping the rows we could not fix.
bikes_df_cleaned.head()

,trip_id,trip_duration_seconds,start_station_id,start_station_name,start_time,start_date,end_station_id,end_station_name,end_time,end_date,bike_id,user_type
0,20148784,840,7022,Simcoe St / Queen St W,00:00:00,2023-01-01,7703,Oak St / Sackville St,00:14:00,2023-01-01,1770,Casual Member
1,20148785,722,7399,Lower Jarvis / Queens Quay E,00:01:00,2023-01-01,7533,Housey St / Dan Leckie Way,00:13:02,2023-01-01,6400,Casual Member
2,20148786,1054,7269,Toronto Eaton Centre (Yonge St),00:02:00,2023-01-01,7076,York St / Queens Quay W,00:19:34,2023-01-01,4068,Annual Member
3,20148790,1329,7721,Widmer St / King St W,00:04:00,2023-01-01,7685,King St W / Brant St,00:26:09,2023-01-01,427,Casual Member
4,20148791,1291,7721,Widmer St / King St W,00:04:00,2023-01-01,7685,King St W / Brant St,00:25:31,2023-01-01,1840,Casual Member

In [44]:
# Check if 'unknown' values exist in the entire DataFrame
unknown_values_exist = (bikes_df_cleaned == 'uknown').any().any()

# Display the result
print(f"Do 'unknown' values exist in the DataFrame? {unknown_values_exist}")

Do 'unknown' values exist in the DataFrame? False

In [45]:
# Check if 'unknown' values exist in the entire DataFrame
unknown_values_exist = (bikes_df_cleaned == 'nan').any().any()

# Display the result
print(f"Do 'nan' values exist in the DataFrame? {unknown_values_exist}")

Do 'nan' values exist in the DataFrame? False

In [46]:
# Displaying concise information about the cleaned DataFrame
# This includes the number of non-null values, data types, and memory usage.
bikes_df_cleaned.info

<bound method DataFrame.info of           trip_id  trip_duration_seconds start_station_id  \
0        20148784                    840             7022
1        20148785                    722             7399
2        20148786                   1054             7269
3        20148790                   1329             7721
4        20148791                   1291             7721
...           ...                    ...              ...
5602106  26682295                   1516             7917
5602107  26682655                    993             7013
5602108  26660017                    511             7878
5602109  26660153                     74             7918
5602110  26660168                   3119             7918

                      start_station_name start_time start_date end_station_id  \
0                 Simcoe St / Queen St W   00:00:00 2023-01-01           7703
1           Lower Jarvis / Queens Quay E   00:01:00 2023-01-01           7533
2        Toronto Eaton Centre (Yonge St)   00:02:00 2023-01-01           7076
3                  Widmer St / King St W   00:04:00 2023-01-01           7685
4                  Widmer St / King St W   00:04:00 2023-01-01           7685
...                                  ...        ...        ...            ...
5602106       King St W / University Ave   21:15:00 2023-12-31           7917
5602107         Scott St / The Esplanade   23:32:00 2023-12-31           7917
5602108       Weston Rd / Sheppard Ave W   12:37:00 2023-12-28           7918
5602109            Albion Rd/ Arcot Blvd   12:54:00 2023-12-28           7918
5602110            Albion Rd/ Arcot Blvd   12:56:00 2023-12-28           7918

                   end_station_name  end_time   end_date bike_id  \
0             Oak St / Sackville St  00:14:00 2023-01-01    1770
1        Housey St / Dan Leckie Way  00:13:02 2023-01-01    6400
2           York St / Queens Quay W  00:19:34 2023-01-01    4068
3              King St W / Brant St  00:26:09 2023-01-01     427
4              King St W / Brant St  00:25:31 2023-01-01    1840
...                             ...       ...        ...     ...
5602106  King St W / University Ave  21:40:16 2023-12-31    5919
5602107  King St W / University Ave  23:48:33 2023-12-31    5060
5602108       Albion Rd/ Arcot Blvd  12:45:31 2023-12-28    6110
5602109       Albion Rd/ Arcot Blvd  12:55:14 2023-12-28    6110
5602110       Albion Rd/ Arcot Blvd  13:47:59 2023-12-28    6110

             user_type
0        Casual Member
1        Casual Member
2        Annual Member
3        Casual Member
4        Casual Member
...                ...
5602106  Casual Member
5602107  Casual Member
5602108  Casual Member
5602109  Casual Member
5602110  Casual Member

[5602111 rows x 12 columns]>

In [47]:
# Merging the cleaned DataFrame bikes_df_cleaned with the stations DataFrame
# using 'start_station_id' from bikes_df_cleaned and 'station_id' from stations as the key.
# This performs a left join, retaining all rows from bikes_df_cleaned and matching them with station information from bikeshare_stations.
merged_df = bikes_df_cleaned.merge(bikeshare_stations, left_on='start_station_id', right_on='station_id', how='left')

# Display the updated DataFrame
merged_df.head()

,trip_id,trip_duration_seconds,start_station_id,start_station_name,start_time,start_date,end_station_id,end_station_name,end_time,end_date,bike_id,user_type,station_id,name,lat,lon,capacity
0,20148784,840,7022,Simcoe St / Queen St W,00:00:00,2023-01-01,7703,Oak St / Sackville St,00:14:00,2023-01-01,1770,Casual Member,7022,Simcoe St / Queen St W,43.650,-79.387,39.000
1,20148785,722,7399,Lower Jarvis / Queens Quay E,00:01:00,2023-01-01,7533,Housey St / Dan Leckie Way,00:13:02,2023-01-01,6400,Casual Member,7399,Lower Jarvis St / Queens Quay E,43.644,-79.369,18.000
2,20148786,1054,7269,Toronto Eaton Centre (Yonge St),00:02:00,2023-01-01,7076,York St / Queens Quay W,00:19:34,2023-01-01,4068,Annual Member,7269,Toronto Eaton Centre (Yonge St) - SMART,43.655,-79.381,20.000
3,20148790,1329,7721,Widmer St / King St W,00:04:00,2023-01-01,7685,King St W / Brant St,00:26:09,2023-01-01,427,Casual Member,7721,Widmer St / King St W,43.646,-79.391,11.000
4,20148791,1291,7721,Widmer St / King St W,00:04:00,2023-01-01,7685,King St W / Brant St,00:25:31,2023-01-01,1840,Casual Member,7721,Widmer St / King St W,43.646,-79.391,11.000

In [48]:
# Displaying the column names of the merged DataFrame
merged_df.columns

Index(['trip_id', 'trip_duration_seconds', 'start_station_id',
       'start_station_name', 'start_time', 'start_date', 'end_station_id',
       'end_station_name', 'end_time', 'end_date', 'bike_id', 'user_type',
       'station_id', 'name', 'lat', 'lon', 'capacity'],
      dtype='object')

In [49]:
# Rename selected columns in the merged DataFrame for clarity
merged_df = merged_df.rename(columns={
    'physical_configuration': 'start_physical_configuration',
    'lat': 'start_lat',
    'lon': 'start_lon',
    'capacity': 'start_capacity',
    'is_charging_station': 'start_is_charging_station'
})

# Drop the 'station_id' column from the merged DataFrame
merged_df = merged_df.drop('station_id', axis=1)

In [50]:
#Inspecting the first five rows
merged_df.head()

,trip_id,trip_duration_seconds,start_station_id,start_station_name,start_time,start_date,end_station_id,end_station_name,end_time,end_date,bike_id,user_type,name,start_lat,start_lon,start_capacity
0,20148784,840,7022,Simcoe St / Queen St W,00:00:00,2023-01-01,7703,Oak St / Sackville St,00:14:00,2023-01-01,1770,Casual Member,Simcoe St / Queen St W,43.650,-79.387,39.000
1,20148785,722,7399,Lower Jarvis / Queens Quay E,00:01:00,2023-01-01,7533,Housey St / Dan Leckie Way,00:13:02,2023-01-01,6400,Casual Member,Lower Jarvis St / Queens Quay E,43.644,-79.369,18.000
2,20148786,1054,7269,Toronto Eaton Centre (Yonge St),00:02:00,2023-01-01,7076,York St / Queens Quay W,00:19:34,2023-01-01,4068,Annual Member,Toronto Eaton Centre (Yonge St) - SMART,43.655,-79.381,20.000
3,20148790,1329,7721,Widmer St / King St W,00:04:00,2023-01-01,7685,King St W / Brant St,00:26:09,2023-01-01,427,Casual Member,Widmer St / King St W,43.646,-79.391,11.000
4,20148791,1291,7721,Widmer St / King St W,00:04:00,2023-01-01,7685,King St W / Brant St,00:25:31,2023-01-01,1840,Casual Member,Widmer St / King St W,43.646,-79.391,11.000

In [51]:
# Merge the merged DataFrame with bikeshare_stations using 'end_station_id' from merged_df 
# and 'station_id' from bikeshare_stations as the key.
# This performs a left join, retaining all rows from merged_df and matching them with end station information from bikeshare_stations.
bikes_cleaned_df = merged_df.merge(bikeshare_stations, left_on='end_station_id', right_on='station_id', how='left')

In [52]:
#Inspecting the first five rows of the merged dataframe
bikes_cleaned_df.head()

,trip_id,trip_duration_seconds,start_station_id,start_station_name,start_time,start_date,end_station_id,end_station_name,end_time,end_date,...,user_type,name_x,start_lat,start_lon,start_capacity,station_id,name_y,lat,lon,capacity
0,20148784,840,7022,Simcoe St / Queen St W,00:00:00,2023-01-01,7703,Oak St / Sackville St,00:14:00,2023-01-01,...,Casual Member,Simcoe St / Queen St W,43.650,-79.387,39.000,7703,Oak St / Sackville St,43.661,-79.364,19.000
1,20148785,722,7399,Lower Jarvis / Queens Quay E,00:01:00,2023-01-01,7533,Housey St / Dan Leckie Way,00:13:02,2023-01-01,...,Casual Member,Lower Jarvis St / Queens Quay E,43.644,-79.369,18.000,7533,Housey St / Dan Leckie Way,43.638,-79.398,27.000
2,20148786,1054,7269,Toronto Eaton Centre (Yonge St),00:02:00,2023-01-01,7076,York St / Queens Quay W,00:19:34,2023-01-01,...,Annual Member,Toronto Eaton Centre (Yonge St) - SMART,43.655,-79.381,20.000,7076,York St / Queens Quay W,43.640,-79.380,57.000
3,20148790,1329,7721,Widmer St / King St W,00:04:00,2023-01-01,7685,King St W / Brant St,00:26:09,2023-01-01,...,Casual Member,Widmer St / King St W,43.646,-79.391,11.000,7685,King St W / Brant St,43.645,-79.397,22.000
4,20148791,1291,7721,Widmer St / King St W,00:04:00,2023-01-01,7685,King St W / Brant St,00:25:31,2023-01-01,...,Casual Member,Widmer St / King St W,43.646,-79.391,11.000,7685,King St W / Brant St,43.645,-79.397,22.000

In [53]:
# Renaming selected columns in the bikes_cleaned_df DataFrame for clarity regarding end stations
bikes_cleaned_df = bikes_cleaned_df.rename(columns={
    'physical_configuration': 'end_physical_configuration',
    'lat': 'end_lat',
    'lon': 'end_lon',
    'capacity': 'end_capacity',
    'is_charging_station': 'end_is_charging_station'
})

# Drop the 'station_id' column from the bikes_cleaned_df DataFrame
bikes_cleaned_df = bikes_cleaned_df.drop('station_id', axis=1)

In [54]:
#Inspecting the first five rows of the dataframe
bikes_cleaned_df.head()

,trip_id,trip_duration_seconds,start_station_id,start_station_name,start_time,start_date,end_station_id,end_station_name,end_time,end_date,bike_id,user_type,name_x,start_lat,start_lon,start_capacity,name_y,end_lat,end_lon,end_capacity
0,20148784,840,7022,Simcoe St / Queen St W,00:00:00,2023-01-01,7703,Oak St / Sackville St,00:14:00,2023-01-01,1770,Casual Member,Simcoe St / Queen St W,43.650,-79.387,39.000,Oak St / Sackville St,43.661,-79.364,19.000
1,20148785,722,7399,Lower Jarvis / Queens Quay E,00:01:00,2023-01-01,7533,Housey St / Dan Leckie Way,00:13:02,2023-01-01,6400,Casual Member,Lower Jarvis St / Queens Quay E,43.644,-79.369,18.000,Housey St / Dan Leckie Way,43.638,-79.398,27.000
2,20148786,1054,7269,Toronto Eaton Centre (Yonge St),00:02:00,2023-01-01,7076,York St / Queens Quay W,00:19:34,2023-01-01,4068,Annual Member,Toronto Eaton Centre (Yonge St) - SMART,43.655,-79.381,20.000,York St / Queens Quay W,43.640,-79.380,57.000
3,20148790,1329,7721,Widmer St / King St W,00:04:00,2023-01-01,7685,King St W / Brant St,00:26:09,2023-01-01,427,Casual Member,Widmer St / King St W,43.646,-79.391,11.000,King St W / Brant St,43.645,-79.397,22.000
4,20148791,1291,7721,Widmer St / King St W,00:04:00,2023-01-01,7685,King St W / Brant St,00:25:31,2023-01-01,1840,Casual Member,Widmer St / King St W,43.646,-79.391,11.000,King St W / Brant St,43.645,-79.397,22.000

In [55]:
# Checking the data types of each column in the bikes_cleaned_df DataFrame
bikes_cleaned_df.dtypes

trip_id                          object
trip_duration_seconds             int64
start_station_id                 object
start_station_name               object
start_time                       object
start_date               datetime64[ns]
end_station_id                   object
end_station_name                 object
end_time                         object
end_date                 datetime64[ns]
bike_id                          object
user_type                        object
name_x                           object
start_lat                       float64
start_lon                       float64
start_capacity                  float64
name_y                           object
end_lat                         float64
end_lon                         float64
end_capacity                    float64
dtype: object

In [56]:
# Check and sum the missing values in each column of the bikes_cleaned_df DataFrame
bikes_cleaned_df.isna().sum()

trip_id                       0
trip_duration_seconds         0
start_station_id              0
start_station_name            0
start_time                    0
start_date                    0
end_station_id                0
end_station_name              0
end_time                      0
end_date                      0
bike_id                       0
user_type                     0
name_x                   129841
start_lat                129841
start_lon                129841
start_capacity           129841
name_y                   574877
end_lat                  574877
end_lon                  574877
end_capacity             574877
dtype: int64

# Merging the Dataframe to the Weather Dataset for Toronto for year 2023.

In [57]:
# Loading the weather dataset into the 'weather' dataframe
weather = pd.read_csv('/kaggle/input/weather-dataset/en_climate_daily_ON_6158355_2023_P1D(1).csv')

In [58]:
#Inspecting the first five rows
weather.head()

,Longitude (x),Latitude (y),Station Name,Climate ID,Date/Time,Year,Month,Day,Data Quality,Max Temp (°C),...,Total Snow (cm),Total Snow Flag,Total Precip (mm),Total Precip Flag,Snow on Grnd (cm),Snow on Grnd Flag,Dir of Max Gust (10s deg),Dir of Max Gust Flag,Spd of Max Gust (km/h),Spd of Max Gust Flag
0,-79.400,43.670,TORONTO CITY,6158355,2023-01-01,2023,1,1,NaN,5.000,...,NaN,NaN,1.500,NaN,NaN,NaN,NaN,M,NaN,M
1,-79.400,43.670,TORONTO CITY,6158355,2023-01-02,2023,1,2,NaN,5.600,...,NaN,NaN,0.000,NaN,NaN,NaN,NaN,M,NaN,M
2,-79.400,43.670,TORONTO CITY,6158355,2023-01-03,2023,1,3,NaN,4.400,...,NaN,NaN,3.300,NaN,NaN,NaN,NaN,M,NaN,M
3,-79.400,43.670,TORONTO CITY,6158355,2023-01-04,2023,1,4,NaN,4.400,...,NaN,NaN,21.100,NaN,0.000,NaN,NaN,M,NaN,M
4,-79.400,43.670,TORONTO CITY,6158355,2023-01-05,2023,1,5,NaN,4.800,...,NaN,NaN,0.200,NaN,NaN,NaN,NaN,M,NaN,M

In [59]:
#Filtering the columns that are needed from the 'weather' dataframe
# Selecting specific columns
selected_columns = ['Date/Time', 'Mean Temp (°C)', 'Snow on Grnd (cm)', 'Total Precip (mm)']
weather = weather[selected_columns]

# Displaying the first five rows
weather.head()

    Date/Time  Mean Temp (°C)  Snow on Grnd (cm)  Total Precip (mm)
0  2023-01-01           3.900                NaN              1.500
1  2023-01-02           4.600                NaN              0.000
2  2023-01-03           3.600                NaN              3.300
3  2023-01-04           3.500              0.000             21.100
4  2023-01-05           4.000                NaN              0.200

In [60]:
#Checking the column datatypes
weather.dtypes

Date/Time             object
Mean Temp (°C)       float64
Snow on Grnd (cm)    float64
Total Precip (mm)    float64
dtype: object

In [61]:
#Renaming the columns
weather_df = weather.rename(columns={'Date/Time': 'date',\
                                        'Mean Temp (°C)': 'mean_temp(°C)',\
                                        'Snow on Grnd (cm)': 'snow_on_ground(cm)',\
                                        'Total Precip (mm)': 'total_precipitation(mm)'
                                       })

In [62]:
#Inspecting the changes
weather_df.head()

         date  mean_temp(°C)  snow_on_ground(cm)  total_precipitation(mm)
0  2023-01-01          3.900                 NaN                    1.500
1  2023-01-02          4.600                 NaN                    0.000
2  2023-01-03          3.600                 NaN                    3.300
3  2023-01-04          3.500               0.000                   21.100
4  2023-01-05          4.000                 NaN                    0.200

In [63]:
# Converting the 'date' column to datetime format in the weather_df DataFrame
# The format='%Y-%m-%d' specifies the expected date format in the column.
# The errors='coerce' parameter replaces any parsing errors with NaT (Not a Time).
weather_df['date'] = pd.to_datetime(weather_df['date'], format='%Y-%m-%d', errors='coerce')

In [64]:
#Fill missing values in the 'snow_on_ground(cm)' column of the weather_df DataFrame with a default value of 0.000.
weather_df['snow_on_ground(cm)'] = weather_df['snow_on_ground(cm)'].fillna(0.000)

In [65]:
#Inspecting the first 30 rows
weather_df.head(30)

         date  mean_temp(°C)  snow_on_ground(cm)  total_precipitation(mm)
0  2023-01-01          3.900               0.000                    1.500
1  2023-01-02          4.600               0.000                    0.000
2  2023-01-03          3.600               0.000                    3.300
3  2023-01-04          3.500               0.000                   21.100
4  2023-01-05          4.000               0.000                    0.200
5  2023-01-06          4.000               0.000                    0.000
6  2023-01-07         -0.500               0.000                    0.000
7  2023-01-08         -3.100               0.000                    0.000
8  2023-01-09          0.300               0.000                    0.100
9  2023-01-10         -0.100               0.000                    0.000
10 2023-01-11         -1.500               0.000                    0.100
11 2023-01-12          2.400               0.000                    6.000
12 2023-01-13         -4.500               4.000                    2.500
13 2023-01-14         -6.300               2.000                    0.000
14 2023-01-15         -4.700               2.000                    0.000
15 2023-01-16         -1.700               2.000                    0.100
16 2023-01-17          3.500               0.000                    4.000
17 2023-01-18          4.500               0.000                    1.300
18 2023-01-19          2.700               0.000                    4.800
19 2023-01-20          1.500               0.000                    1.700
20 2023-01-21          0.100               0.000                    0.000
21 2023-01-22          0.200               0.000                    2.800
22 2023-01-23          0.400               3.000                    0.000
23 2023-01-24          1.200               0.000                    0.000
24 2023-01-25          1.100               0.000                   19.200
25 2023-01-26         -0.500               8.000                    1.900
26 2023-01-27         -0.100               8.000                    0.100
27 2023-01-28          0.700               8.000                    0.200
28 2023-01-29         -2.200               8.000                    4.900
29 2023-01-30         -4.100               9.000                    0.000

In [66]:
# Merging DataFrames based on the 'start_date' and 'date' columns
# This performs a left join, retaining all rows from bikes_cleaned_df and matching them with weather information from weather_df.
bikes_final_df = bikes_cleaned_df.merge(weather_df, left_on='start_date', right_on='date', how='left')

# Displaying the updated five rows of the DataFrame
bikes_final_df.head()

,trip_id,trip_duration_seconds,start_station_id,start_station_name,start_time,start_date,end_station_id,end_station_name,end_time,end_date,...,start_lon,start_capacity,name_y,end_lat,end_lon,end_capacity,date,mean_temp(°C),snow_on_ground(cm),total_precipitation(mm)
0,20148784,840,7022,Simcoe St / Queen St W,00:00:00,2023-01-01,7703,Oak St / Sackville St,00:14:00,2023-01-01,...,-79.387,39.000,Oak St / Sackville St,43.661,-79.364,19.000,2023-01-01,3.900,0.000,1.500
1,20148785,722,7399,Lower Jarvis / Queens Quay E,00:01:00,2023-01-01,7533,Housey St / Dan Leckie Way,00:13:02,2023-01-01,...,-79.369,18.000,Housey St / Dan Leckie Way,43.638,-79.398,27.000,2023-01-01,3.900,0.000,1.500
2,20148786,1054,7269,Toronto Eaton Centre (Yonge St),00:02:00,2023-01-01,7076,York St / Queens Quay W,00:19:34,2023-01-01,...,-79.381,20.000,York St / Queens Quay W,43.640,-79.380,57.000,2023-01-01,3.900,0.000,1.500
3,20148790,1329,7721,Widmer St / King St W,00:04:00,2023-01-01,7685,King St W / Brant St,00:26:09,2023-01-01,...,-79.391,11.000,King St W / Brant St,43.645,-79.397,22.000,2023-01-01,3.900,0.000,1.500
4,20148791,1291,7721,Widmer St / King St W,00:04:00,2023-01-01,7685,King St W / Brant St,00:25:31,2023-01-01,...,-79.391,11.000,King St W / Brant St,43.645,-79.397,22.000,2023-01-01,3.900,0.000,1.500

In [67]:
# Drop the duplicated 'date' column from the weather information and columns 'name_x' and 'name_y'
bikes_final_df = bikes_final_df.drop('date', axis=1)
bikes_final_df = bikes_final_df.drop('name_y', axis=1)
bikes_final_df = bikes_final_df.drop('name_x', axis=1)

In [68]:
#Inspecting the dataframe after dropping the duplicate
bikes_final_df.head()

,trip_id,trip_duration_seconds,start_station_id,start_station_name,start_time,start_date,end_station_id,end_station_name,end_time,end_date,...,user_type,start_lat,start_lon,start_capacity,end_lat,end_lon,end_capacity,mean_temp(°C),snow_on_ground(cm),total_precipitation(mm)
0,20148784,840,7022,Simcoe St / Queen St W,00:00:00,2023-01-01,7703,Oak St / Sackville St,00:14:00,2023-01-01,...,Casual Member,43.650,-79.387,39.000,43.661,-79.364,19.000,3.900,0.000,1.500
1,20148785,722,7399,Lower Jarvis / Queens Quay E,00:01:00,2023-01-01,7533,Housey St / Dan Leckie Way,00:13:02,2023-01-01,...,Casual Member,43.644,-79.369,18.000,43.638,-79.398,27.000,3.900,0.000,1.500
2,20148786,1054,7269,Toronto Eaton Centre (Yonge St),00:02:00,2023-01-01,7076,York St / Queens Quay W,00:19:34,2023-01-01,...,Annual Member,43.655,-79.381,20.000,43.640,-79.380,57.000,3.900,0.000,1.500
3,20148790,1329,7721,Widmer St / King St W,00:04:00,2023-01-01,7685,King St W / Brant St,00:26:09,2023-01-01,...,Casual Member,43.646,-79.391,11.000,43.645,-79.397,22.000,3.900,0.000,1.500
4,20148791,1291,7721,Widmer St / King St W,00:04:00,2023-01-01,7685,King St W / Brant St,00:25:31,2023-01-01,...,Casual Member,43.646,-79.391,11.000,43.645,-79.397,22.000,3.900,0.000,1.500

In [69]:
# Generate descriptive statistics for the bikes_final_df DataFrame
# The .describe() method calculates summary statistics for numerical columns.
# The .T transposes the result for better readability.
bikes_final_df.describe().T

,count,mean,min,25%,50%,75%,max,std
trip_duration_seconds,5602111.000,1077.739,60.000,423.000,689.000,1122.000,3980837.000,8658.879
start_date,5602111,2023-07-21 23:13:04.297989376,2023-01-01 00:00:00,2023-05-26 00:00:00,2023-07-27 00:00:00,2023-09-23 00:00:00,2023-12-31 00:00:00,NaN
end_date,5602111,2023-07-21 23:22:17.543151104,2023-01-01 00:00:00,2023-05-26 00:00:00,2023-07-27 00:00:00,2023-09-23 00:00:00,2024-01-07 00:00:00,NaN
start_lat,5472270.000,43.656,43.588,43.646,43.655,43.664,43.788,0.015
start_lon,5472270.000,-79.392,-79.553,-79.405,-79.389,-79.379,-79.124,0.031
start_capacity,5472270.000,21.485,7.000,15.000,19.000,24.000,63.000,8.902
end_lat,5027234.000,43.655,43.588,43.646,43.654,43.663,43.788,0.015
end_lon,5027234.000,-79.391,-79.553,-79.404,-79.388,-79.377,-79.124,0.032
end_capacity,5027234.000,21.607,7.000,15.000,19.000,24.000,63.000,9.148
mean_temp(°C),5587106.000,14.930,-14.900,8.500,17.800,20.900,26.900,7.896
snow_on_ground(cm),5602111.000,0.362,0.000,0.000,0.000,0.000,21.000,1.897
total_precipitation(mm),5587106.000,1.662,0.000,0.000,0.000,0.900,50.100,4.454

In [70]:
bikes_final_df.isna().sum()

trip_id                         0
trip_duration_seconds           0
start_station_id                0
start_station_name              0
start_time                      0
start_date                      0
end_station_id                  0
end_station_name                0
end_time                        0
end_date                        0
bike_id                         0
user_type                       0
start_lat                  129841
start_lon                  129841
start_capacity             129841
end_lat                    574877
end_lon                    574877
end_capacity               574877
mean_temp(°C)               15005
snow_on_ground(cm)              0
total_precipitation(mm)     15005
dtype: int64

In [71]:
# Identifying rows where 'mean_temp(°C)' is missing
missing_mean_temp = bikes_final_df['mean_temp(°C)'].isnull()

# Display rows where 'mean_temp(°C)' is missing
missing_mean_temp_rows = bikes_final_df[missing_mean_temp]
print(missing_mean_temp_rows)

          trip_id  trip_duration_seconds start_station_id  \
5055838  26053508                    451             7067
5055839  26053509                    607             7190
5055840  26053510                    560             7046
5055841  26053512                    771             7009
5055842  26053514                    465             7536
...           ...                    ...              ...
5070838  26071050                    374             7762
5070839  26071051                   1154             7548
5070840  26071054                    579             7038
5070841  26071057                    457             7386
5070842  26071059                   1852             7506

                          start_station_name start_time start_date  \
5055838                Yonge St / Harbour St   00:00:00 2023-11-07
5055839           St. George St / Hoskin Ave   00:00:00 2023-11-07
5055840           Niagara St / Richmond St W   00:00:00 2023-11-07
5055841                King St E / Jarvis St   00:02:00 2023-11-07
5055842         Palmerston Ave / Dundas St W   00:02:00 2023-11-07
...                                      ...        ...        ...
5070838               College St / Henry St    23:58:00 2023-11-07
5070839        St Joseph St / Bay St - SMART   23:58:00 2023-11-07
5070840               Dundas St W / Yonge St   23:59:00 2023-11-07
5070841         D'Arcy St. /McCaul St. SMART   23:59:00 2023-11-07
5070842  Berkeley St / Adelaide St E - SMART   23:59:00 2023-11-07

        end_station_id                end_station_name  end_time   end_date  \
5055838           7299         Mill St / Parliament St  00:07:31 2023-11-07
5055839           7536    Palmerston Ave / Dundas St W  00:10:07 2023-11-07
5055840           7061          Dalton Rd / Bloor St W  00:09:20 2023-11-07
5055841              7    Fort York  Blvd / Capreol Ct  00:14:51 2023-11-07
5055842           7322            King St W / Brant St  00:09:45 2023-11-07
...                ...                             ...       ...        ...
5070838           7023          College St / Borden St  00:04:14 2023-11-08
5070839             71  Dundas St E / Regent Park Blvd  00:17:14 2023-11-08
5070840             71  Dundas St E / Regent Park Blvd  00:08:39 2023-11-08
5070841           7078           College St / Major St  00:06:37 2023-11-08
5070842           7642         Yonge St / St Clair Ave  00:29:52 2023-11-08

         ...      user_type start_lat  start_lon  start_capacity  end_lat  \
5055838  ...  Casual Member       NaN        NaN             NaN   43.650
5055839  ...  Casual Member    43.664    -79.398          15.000   43.652
5055840  ...  Casual Member    43.645    -79.410          42.000   43.666
5055841  ...  Casual Member    43.650    -79.372          25.000      NaN
5055842  ...  Casual Member    43.652    -79.408          23.000   43.639
...      ...            ...       ...        ...             ...      ...
5070838  ...  Casual Member    43.659    -79.395          14.000   43.657
5070839  ...  Casual Member    43.666    -79.388          20.000      NaN
5070840  ...  Casual Member    43.656    -79.381          31.000      NaN
5070841  ...  Casual Member    43.655    -79.392          15.000   43.658
5070842  ...  Casual Member    43.653    -79.365          11.000   43.689

         end_lon  end_capacity  mean_temp(°C)  snow_on_ground(cm)  \
5055838  -79.362        15.000            NaN               0.000
5055839  -79.408        23.000            NaN               0.000
5055840  -79.407        15.000            NaN               0.000
5055841      NaN           NaN            NaN               0.000
5055842  -79.412        18.000            NaN               0.000
...          ...           ...            ...                 ...
5070838  -79.406        11.000            NaN               0.000
5070839      NaN           NaN            NaN               0.000
5070840      NaN           NaN            NaN               0.000
5070841  -79.403        15.000            NaN               0.000
5070842  -79.394        19.000            NaN               0.000

         total_precipitation(mm)
5055838                      NaN
5055839                      NaN
5055840                      NaN
5055841                      NaN
5055842                      NaN
...                          ...
5070838                      NaN
5070839                      NaN
5070840                      NaN
5070841                      NaN
5070842                      NaN

[15005 rows x 21 columns]

Upon further investigation, there is a missing entry for 7th November, 2023 on the weather csv, so I looked up the average temperature of that day online and the precipitation which is 8.055 degrees and 0.000 mm precipitation.

In [72]:
# Replace NaN values in 'mean_temp(°C)' column with the number 8.055
bikes_final_df['mean_temp(°C)'] = bikes_final_df['mean_temp(°C)'].fillna(8.055)

# Replace NaN values in 'total_precipitation(mm)' column with the number 0.000
bikes_final_df['total_precipitation(mm)'] = bikes_final_df['total_precipitation(mm)'].fillna(0.000)

In [73]:
bikes_final_df.head()

,trip_id,trip_duration_seconds,start_station_id,start_station_name,start_time,start_date,end_station_id,end_station_name,end_time,end_date,...,user_type,start_lat,start_lon,start_capacity,end_lat,end_lon,end_capacity,mean_temp(°C),snow_on_ground(cm),total_precipitation(mm)
0,20148784,840,7022,Simcoe St / Queen St W,00:00:00,2023-01-01,7703,Oak St / Sackville St,00:14:00,2023-01-01,...,Casual Member,43.650,-79.387,39.000,43.661,-79.364,19.000,3.900,0.000,1.500
1,20148785,722,7399,Lower Jarvis / Queens Quay E,00:01:00,2023-01-01,7533,Housey St / Dan Leckie Way,00:13:02,2023-01-01,...,Casual Member,43.644,-79.369,18.000,43.638,-79.398,27.000,3.900,0.000,1.500
2,20148786,1054,7269,Toronto Eaton Centre (Yonge St),00:02:00,2023-01-01,7076,York St / Queens Quay W,00:19:34,2023-01-01,...,Annual Member,43.655,-79.381,20.000,43.640,-79.380,57.000,3.900,0.000,1.500
3,20148790,1329,7721,Widmer St / King St W,00:04:00,2023-01-01,7685,King St W / Brant St,00:26:09,2023-01-01,...,Casual Member,43.646,-79.391,11.000,43.645,-79.397,22.000,3.900,0.000,1.500
4,20148791,1291,7721,Widmer St / King St W,00:04:00,2023-01-01,7685,King St W / Brant St,00:25:31,2023-01-01,...,Casual Member,43.646,-79.391,11.000,43.645,-79.397,22.000,3.900,0.000,1.500

In [74]:
bikes_final_df.dtypes

trip_id                            object
trip_duration_seconds               int64
start_station_id                   object
start_station_name                 object
start_time                         object
start_date                 datetime64[ns]
end_station_id                     object
end_station_name                   object
end_time                           object
end_date                   datetime64[ns]
bike_id                            object
user_type                          object
start_lat                         float64
start_lon                         float64
start_capacity                    float64
end_lat                           float64
end_lon                           float64
end_capacity                      float64
mean_temp(°C)                     float64
snow_on_ground(cm)                float64
total_precipitation(mm)           float64
dtype: object

In [75]:
bikes_final_df.isna().sum()

trip_id                         0
trip_duration_seconds           0
start_station_id                0
start_station_name              0
start_time                      0
start_date                      0
end_station_id                  0
end_station_name                0
end_time                        0
end_date                        0
bike_id                         0
user_type                       0
start_lat                  129841
start_lon                  129841
start_capacity             129841
end_lat                    574877
end_lon                    574877
end_capacity               574877
mean_temp(°C)                   0
snow_on_ground(cm)              0
total_precipitation(mm)         0
dtype: int64

1. # Missing Value Imputation Technique: Mean

**Reasons for Choosing Mean:**

The mean is a straightforward statistical measure that is easy to understand, making it accessible for a wide audience, including non-technical stakeholders.

Imputing missing values with the mean helps maintain the central tendency or average of the data. This ensures that the imputed values align with the general trend of the observed values.

**Shortcomings of Mean Imputation:**

Imputing missing values with the mean assumes a normal distribution of the data. In cases where the distribution is skewed or non-normal, mean imputation may introduce bias.

Mean imputation does not account for the variability within the data. It assumes that all values are equally dispersed around the mean, which may not be true in datasets with diverse patterns.

**Considerations and Mitigation:**

While mean imputation has its limitations, it serves as a pragmatic choice in situations where the assumptions align with the data characteristics. Plus this was as a last resort after trying everything to get the correct data with no success.

In [76]:
# Mean Imputation
mean_imputed_df = bikes_final_df.copy()

# Replace missing values with mean for the specified columns
mean_imputed_df['start_lat'] = mean_imputed_df['start_lat'].fillna(mean_imputed_df['start_lat'].mean())
mean_imputed_df['start_lon'] = mean_imputed_df['start_lon'].fillna(mean_imputed_df['start_lon'].mean())
mean_imputed_df['start_capacity'] = mean_imputed_df['start_capacity'].fillna(mean_imputed_df['start_capacity'].mean())
mean_imputed_df['end_lat'] = mean_imputed_df['end_lat'].fillna(mean_imputed_df['end_lat'].mean())
mean_imputed_df['end_lon'] = mean_imputed_df['end_lon'].fillna(mean_imputed_df['end_lon'].mean())
mean_imputed_df['end_capacity'] = mean_imputed_df['end_capacity'].fillna(mean_imputed_df['end_capacity'].mean())

In [77]:
#Rounding down the 'start_capacity' and 'end_capacity'
mean_imputed_df['start_capacity'] = np.floor(mean_imputed_df['start_capacity'])
mean_imputed_df['end_capacity'] = np.floor(mean_imputed_df['end_capacity'])

In [78]:
#Confirmation of whether there are any more missing values
mean_imputed_df.isna().sum()

trip_id                    0
trip_duration_seconds      0
start_station_id           0
start_station_name         0
start_time                 0
start_date                 0
end_station_id             0
end_station_name           0
end_time                   0
end_date                   0
bike_id                    0
user_type                  0
start_lat                  0
start_lon                  0
start_capacity             0
end_lat                    0
end_lon                    0
end_capacity               0
mean_temp(°C)              0
snow_on_ground(cm)         0
total_precipitation(mm)    0
dtype: int64

In [79]:
#Summary Statistics of the clean data.
mean_imputed_df.describe().T

,count,mean,min,25%,50%,75%,max,std
trip_duration_seconds,5602111.000,1077.739,60.000,423.000,689.000,1122.000,3980837.000,8658.879
start_date,5602111,2023-07-21 23:13:04.297989376,2023-01-01 00:00:00,2023-05-26 00:00:00,2023-07-27 00:00:00,2023-09-23 00:00:00,2023-12-31 00:00:00,NaN
end_date,5602111,2023-07-21 23:22:17.543151104,2023-01-01 00:00:00,2023-05-26 00:00:00,2023-07-27 00:00:00,2023-09-23 00:00:00,2024-01-07 00:00:00,NaN
start_lat,5602111.000,43.656,43.588,43.646,43.656,43.664,43.788,0.015
start_lon,5602111.000,-79.392,-79.553,-79.404,-79.389,-79.379,-79.124,0.031
start_capacity,5602111.000,21.474,7.000,15.000,19.000,24.000,63.000,8.798
end_lat,5602111.000,43.655,43.588,43.646,43.655,43.662,43.788,0.014
end_lon,5602111.000,-79.391,-79.553,-79.402,-79.390,-79.379,-79.124,0.030
end_capacity,5602111.000,21.544,7.000,15.000,19.000,23.000,63.000,8.667
mean_temp(°C),5602111.000,14.912,-14.900,8.500,17.800,20.900,26.900,7.894
snow_on_ground(cm),5602111.000,0.362,0.000,0.000,0.000,0.000,21.000,1.897
total_precipitation(mm),5602111.000,1.658,0.000,0.000,0.000,0.900,50.100,4.449

**Conclusion:**

After meticulously cleaning and integrating the datasets encompassing bikeshare data, weather conditions, and station dynamics, we've laid a solid foundation for extracting meaningful insights into urban mobility trends. By ensuring the accuracy and coherence of our data, we've positioned ourselves to derive actionable conclusions that can inform strategic decision-making and optimize the efficiency of bikeshare systems.